.homehead-notifs-button-frame {
    display: flex;
    min-height: 60%;
    max-height: 60%;
    aspect-ratio: 1;
    font-size: 17px;
    justify-content: center ;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(125, 96, 0, 0.291);
    background-color: rgba(255, 235, 192, 0.101);
    margin-bottom: 4px;
    cursor: pointer;
    background-color: rgba(128, 0, 53, 0.227);
    color:  rgb(236, 181, 79);

}
.new-notifs {
    color: rgb(32, 218, 113);
    background-color: rgba(32, 218, 113, 0.149);
    border-color: rgba(32, 218, 113, 0.268);
}
.homehead-notifs-icon {
    max-height: 100%;
    min-height: 100%;
    aspect-ratio: 1;
    justify-content: center ;
    align-items: center;
    align-self: center;
    justify-self: center;
    display: flex;
}
.homehead-notifs-icon:hover {
    color:  rgb(0, 255, 153);
    background-color: rgba(255, 255, 255, 0.1); 
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    font-size: 16pt;
}