<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="edu-navbar">
    
    <!--
    This file handles the navigation at the top. It is included by layout.html
    -->

    {# <div class="container-fluid" id="edu-navbar-left-elt"> #}
        {#<button type="button" id="sidenav-toggler" 
            class="btn btn-light"
            data-toggle="sidenav"
            data-target="#edu-sidenav">
            <i class="fa-solid fa-bars"></i>
        </button>
        #}
            <button id="edu-sidenav-toggler" 
                data-toggle="sidenav" 
                data-target="#edu-sidenav" 
                type="button" 
                class="btn shadow-0 me-3 edu-navbar-left-elt mr-auto" 
                aria-haspopup="true"
                aria-expanded="false" 
            >
            <i class="fa-solid fa-bars fa-lg"></i>
            </button>
    <!-- </div> -->

    {# old sidebar button
    <button id="toggleSidebar" class="btn btn-light btn-primary mr-auto" type="button">
        <i class="fa-solid fa-bars"></i>
         <a class="navbar-brand mr-auto" style="margin-left: 10px;" href="{{ url_for('public.home') }}"> 
            EDURange<i class="fa-solid fa-tree"></i>
        </a> 
    </button>
    #}
    
    {# old navbar toggler
    <button class="navbar-toggler"
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" 
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    #}

    <script type="text/javascript">
        function openSSHInfo() {
            document.getElementById("connection-dropdown").classList.toggle("show");
        }
    </script>
    
    {% if status %} {# There is a scenario. #}
    <div class="connection-details">
        <div class="dropdown-ssh">
            <button class="dropdown-ssh_btn" type="button" onclick='openSSHInfo()'>
                <i class="fa-solid fa-terminal"></i>
                <span>Connection Details</span>
            </button>
        </div>
    </div>
    {% endif %}
    
    <!--<div class="container-fluid flex-row-reverse" id="edu-navbar-right-elt">-->
        {% if form %}

        <ul class="navbar-nav flex-row ml-md-auto d-md-flex ml-auto" id="edu-navbar-right-elt">

            <li class="nav-item">
                <div id="edu-navbar-login-big">
                    <form class="form-inline ml-auto" id="loginForm" method="POST" action="/" role="login">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="form-group mb-2 mr-sm-2">
                            {{ form.username(placeholder="Username", class_="form-control mr-sm-1 my-auto") }} {{
                            form.password(placeholder="Password",
                            class_="form-control mr-sm-1 my-auto") }}
                            <button class="btn btn-primary mr-auto" type="submit">Login</button>
                        </div>
                    </form>
                </div>
                <div id="edu-navbar-login-small">
                    <a class="btn btn-primary d-lg-inline-block" href="/login/">Login</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link navbar-text" href="{{ url_for('public.register') }}">Register</a>
            </li>
            {# <li class="nav-item">
                <button class="btn btn-primary d-lg-inline-block" type="submit">
                    Login
                </button>
            </li> #}

            {#
            <li class="nav-item">
                <a class="nav-link navbar-text" href="{{ url_for('public.reset_password') }}">Reset Password</a>
            </li>
            #}

        </ul> 
        {% else %}

        <ul class="navbar-nav ml-auto" style="flex-direction: row;">
            {% if session.get('viewMode') %}
            <li class="nav-item navbar-text text-center">
                <i class="font-italic">{{ session.get('viewMode') }}</i>
            </li>
            {% endif %}
            <li class="nav-item dropdown active">
                {#<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown" style="text-align: center;">#}
                <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa-solid fa-user"></i>
                    <span>Logged in as {{ current_user.username }}</span>
                {#</a>#}
                </button>
                <div class="dropdown-menu  dropdown-menu-right position-absolute">
                    <a class="dropdown-item" href="{{ url_for('dashboard.account') }}">
                        <i class="fa-regular fa-address-card" aria-hidden="true"></i> Manage Account
                    </a>
                    <div class="dropdown-divider"></div>
                    {% if nav['views'] is not none %}
                        {% for view in nav['views'] %}
                        {{ view }}
                        {% endfor %}
                    <div class="dropdown-divider"></div>
                    {% endif %}
                    <a class="dropdown-item" href="{{ url_for('public.logout') }}">
                        <i class="fa-solid fa-sign-out"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
        {% endif %}
    <!--</div>-->
</nav>

<div class="ssh-dropdown-menu" id="connection-dropdown">
    {% if status == "Starting" %}
    <span class="connection-info">
        <b>Connection Information:</b> Scenario is starting. Please refresh.
    </span>
    {% endif %}
    {% for container in add %}
        {% if not add[container] %} {# If some container not initialized. #}
            <span class="connection-info">
                <b>Connection Information:</b> Container not found, something went wrong
            </span>
        {% elif ':' not in add[container] %} {#  #}
            <span class="connection-info">
                <b>Connection Information:</b> Container address not found, is it running?
            </span> 
        {% elif add[container][add[container].index(':') + 1 :] != "HIDDEN" %}
            {% if s_type == "Web_Fu" %}
                <button class="connection-info">
                    <a target="_blank" href="https://{{add[container][:add[container].index(':')]}}:8443">
                        <b>Connection:</b> WebFu
                    </a>
                </button>
            {% else %}
                <script type="text/javascript">
                    function copySSHCommand() {
                        if (navigator.clipboard) {
                            // navigator.clipboard needs HTTPS to work
                            navigator.clipboard.writeText("ssh {{ u_name }}@{{ add[container][:add[container].index(':')]}} -p {{ add[container][add[container].index(':') + 1:] }}")
                        } else {
                            alert("ssh {{ u_name }}@{{ add[container][:add[container].index(':')]}} -p {{ add[container][add[container].index(':') + 1:] }}");
                        }
                    }
                    function showSSHConsole() {
                        window.open("http://{{ add[container][:add[container].index(':')]}}:5050/ssh/host/{{add[container][:add[container].index(':')]}}/{{ add[container][add[container].index(':') + 1:] }}")
                    }
                </script>

                <span class="connection-info"><b>Username:</b> {{ u_name }}</span><hr />
                <span class="connection-info" href="#"><b>Password:</b> {{ pw }}</span><hr />
                <span class="connection-info" href="#"><b>Port:</b>     {{ add[container][add[container].index(':') + 1:] }}</span><hr />
                <!-- <div class="dropdown-divider"></div> -->
                <button class="connection-info" id="copySSH" onclick="copySSHCommand()">
                    Copy SSH Command      <i class="fa-solid fa-clipboard"></i>
                </button> <!-- TODO clipboard logo -->
                <!-- <div class="dropdown-divider"></div> -->
                <hr />
                <button class="connection-info" id="openWebSSH" onClick="showSSHConsole()">
                    Launch SSH in Browser <i class="fa-solid fa-terminal"></i>
                </button> <!-- TODO new tab logo -->
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
