<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ url_for('public.home') }}">
        Edurange 2: Electric Boogaloo <i class="fa fa-bolt"></i>
    </a>
    <button class="btn btn-light btn-primary mr-auto" id="toggleSidebar" type="button">Navigate</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if form %}
        <form class="form-inline ml-auto" id="loginForm" method="POST" action="/" role="login">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="input-group mb-2 mr-sm-2">
                {{ form.username(placeholder="Username", class_="form-control mr-sm-1 my-auto") }} {{
                form.password(placeholder="Password",
                class_="form-control mr-sm-1 my-auto") }}
                <button class="btn btn-light btn-primary mr-auto" type="submit">Login</button>
            </div>
        </form>
        <ul class="navbar-nav my-auto">
            <li class="nav-item">
                <a class="nav-link navbar-text" href="{{ url_for('public.register') }}">Create account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-text" href="{{ url_for('public.reset_password') }}">Reset Password</a>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav ml-auto">
            {% if session.get('viewMode') %}
            <li class="nav-item navbar-text text-center">
                <i class="font-italic text-white">{{ session.get('viewMode') }}</i>
            </li>
            {% endif %}
            <li class="nav-item dropdown active">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="fa fa-user"></i>
                    Logged in as {{ current_user.username }}
                </a>
                <div class="dropdown-menu position-absolute">
                    <a class="dropdown-item" href="{{ url_for('dashboard.account') }}">
                        <i class="fa fa-address-card-o" aria-hidden="true"></i> Manage Account
                    </a>
                    <div class="dropdown-divider"></div>
                    {% if nav['views'] is not none %}
                        {% for view in nav['views'] %}
                        {{ view }}
                        {% endfor %}
                    <div class="dropdown-divider"></div>
                    {% endif %}
                    <a class="dropdown-item" href="{{ url_for('public.logout') }}">
                        <i class="fa fa-sign-out"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>
