<nav id="edu-sidebar">
    {#<nav id="sidenav-2" class="sidenav sidenav-primary "  style="width: 240px; height: 100%; position: absolute; transition: all 0.3s linear; transform: translateX(0%);">#}
    <a class="ripple d-flex justify-content-center py-4 ripple-surface-primary sidebar-header" 
        href="{{ url_for('public.home') }}">
        <h3>
            Edurange
        </h3>
    </a>
    <ul class="list-unstyled sidenav-menu">
        <li class="sidenav-item">
            <a class href="{{ url_for('public.home') }}">
                <i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Home
            </a>
        </li>

        {# View specific links #}
        {% if nav['links'] is not none %}
        {% for link in nav['links'] %}
        <li class="sidenav-item">
            {{ link }}
        </li>
        {% endfor %}
        {% endif %}

        <li class="sidenav-item">
            <a class href="{{ url_for('public.about') }}">
                <i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;About
            </a>
        </li>
    </ul>

    <hr>

    <ul class="list-unstyled sidebar-bottom-button">
        <li>
            <a href="/bug/" class="article">
                <i class="fa fa-bug"></i>&nbsp;&nbsp;
                Report a Bug
            </a> {# TODO: bug report button #}
        </li>
    </ul>
</nav>