<!doctype html>

<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta name="theme-color" content="#4F7DC9">
  <meta charset="UTF-8">
  <title>Getting Started</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro:400|Roboto:400,300,400italic,500,700|Roboto+Mono">
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://storage.googleapis.com/codelab-elements/codelab-elements.css">
  <style>
    .success {
      color: #1e8e3e;
    }
    .error {
      color: red;
    }
  </style>
</head>
<body>
  <google-codelab-analytics gaid="UA-49880327-14"></google-codelab-analytics>
  <google-codelab codelab-gaid=""
                  id="getting-started"
                  title="Getting Started"
                  environment="web"
                  feedback-link="dontKnow.com">
    
      <google-codelab-step label="Welcome to Cybersec" duration="1">
        <h2 class="checklist" is-upgraded>What You&#39;ll Learn</h2>
<p>Congratulations recruit and welcome to CyberSec. As you should know we provide security services to you, our communities, and small businesses. You&#39;ve made it this far, I suppose that means you may be helpful. But first comes the training. We need to strengthen your skills before you can truly be of use. Go through each tab to the left and at the end we will test what you have learned. Remember, this world is being controlled by the malicious corporations and individuals and we must learn to protect ourselves from their invasive attacks. We must protect our data. This is why you are here. To protect yourself, your company and your community. And it all starts here, at the beginning, with a terminal command.</p>
        <h2>How to Connect</h2>
        <p>Use the credentials and IP Address provided on the scenario page to SSH into the exercise </p>
        <img src="img/3.png">
        <img src="img/2.png">
     
    </google-codelab-step>
    
      <google-codelab-step label="Terminal" duration="2">
        <p>When using your computer (Mac, Linux, Windows) you typically are using a GUI (Graphical User Interface). It&#39;s a pretty representation of how your computer works. To really get into the ‘guts&#39; of your computer and to really learn how to control it we will learn how to use the terminal. The terminal is a text based representation of your computer (rather than graphical). Learning to use the terminal will help you along your path to protecting your community and your self.</p>
<p>Why should you learn the command line?</p>
<ul>
<li>You gain greater control over the system (computer)</li>
<li>A GUI interface just doesn&#39;t have the power needed to run repetitive tasks.</li>
<li>Doing anything from a simple task of renaming a file, changing a user information and searching for files is faster and easier through command line once it is learned.</li>
<li>Scalability</li>
<li>Scriptability</li>
<li>Simple design</li>
<li>Simple interface</li>
<li>Stable design</li>
</ul>
<p>In summation it allows you to do stuff faster than GUI and provides an amazing automation support built in.</p>
<p>Open up terminal for the rest of this training. Or ssh into the server for the command line experience.</p>


      </google-codelab-step>
    
      <google-codelab-step label="Linux File System" duration="3">
        <h2 is-upgraded>Hierarchy</h2>
<p>Linux folders and files are arranged like an upside down tree, where the slash / is called the root, or beginning, of all your files in the entire computer. The root is the base of the tree and as you go down it keeps splitting into branches and leaves. The leaves would be a file and the branches are folders.</p>
<h2 is-upgraded>/vs. logging in as root</h2>
<p>The root, signified by a / , is the beginning of your files. But you can also log in as the root user. When you do this, your home directory (where your files are typically saved) is in the folder /root not at, /. The /root folder is not to be confused with the slash (root) the beginning of all the files. Just like if you were logged in as bermic you would typically save your files in /home/bermic, whereas the root user saves their files in /root.</p>
<h2 is-upgraded>Important</h2>
<p>a root user is someone who has access to everything on the computer. They could even delete everything in a computer. It is best practices to disable root or use a VERY strong password. For example using numbers, letters, capitals, special symbols and a random sampling of each, and no dictionary words.<br></p>


      </google-codelab-step>
    
      <google-codelab-step label="Commands" duration="10">
        <p>What is a command? A command is something you type into your terminal to make something happen. That&#39;s a bit vague but essentially the idea. You can do a lot of things with commands. Let&#39;s get started right away and use two different commands. Let&#39;s go to your home directory.</p>
<h2 is-upgraded>cd</h2>
<p>Type each of the following. One at a time. Hitting enter after each</p>
<ul>
<li>~$ cd /</li>
<li>~$ cd /root</li>
<li>~$ cd</li>
<li>~$ cd ../</li>
</ul>
<p>The first command sends you to the root of your entire file system.</p>
<p>The second command sends you to the user root folder, but notice that you don&#39;t have permissions to that directory.</p>
<p>The third command sends you to your home directory</p>
<p>The fourth sends you backwards (up) a level.</p>
<p>TASK: cd to /bin then cd back to your home directory.</p>
<h2 is-upgraded>pwd</h2>
<p>Now type in</p>
<ul>
<li>~$ pwd<br>Hit enter, pwd is a command to print your working directory. In other words, it prints your location so you can see where you are. You should see something similar to /home/yourusername. To learn more type man pwd , then to get out of that page type q</li>
</ul>
<h2 is-upgraded>ls</h2>
<p>Type</p>
<ul>
<li>~$ ls</li>
</ul>
<p>Hit enter, ls lists the files and directories of where you are now.</p>
<p>There are parameters and options you can give a command. What if you wanted to list the permissions of a file and find hidden files? (Yes there are hidden files!)</p>
<p>Now type</p>
<ul>
<li>~$ ls -la</li>
</ul>
<p>Then hit enter.</p>
<p>That&#39;s a lot of info! What you see is all the files and folders in the folder you are at currently.</p>
<ul>
<li>The first column is the type of file followed by permissions. – means a regular file. d is a directory (folder). l is a link. rwx are the permission for each file. rwx stands for 7 so rwxrwxrwx would be 777. These correspond to binary. There are 3 bits. 000 would stand for 0. 111 is 7. 101 is 5, etc. Each file has visible 3 permissions User, Group, Anyone.</li>
<li>The next column is the number of links or directories in the folder</li>
<li>The 3rd column is the user that owns the folder/file</li>
<li>The 4th column is the group that owns the folder/file</li>
<li>The 5th is the size of the file/folder</li>
<li>The 6th is the month day and time it was last edited/touched</li>
<li>And finally the file name</li>
</ul>
<p>TASK: cd into your home directory and then type ls and you will see a directory called &#34;follow_Me&#34;. Travel as deep as that folder will go. When you get to the end there is a file whose name is a randomized number. Find that.</p>
<h2 is-upgraded>sudo</h2>
<p>Sometimes commands can only be run as a super user. This is when the command sudo comes to use (which stands for: superuser do). This gives unprivileged users access to privileged commands. If you try to do something and it says Permission denied, try again with sudo in front of the command.<br></p>


      </google-codelab-step>
    
      <google-codelab-step label="Man Pages" duration="10">
        <p>Man Pages is short for manual pages. These are text documents with lots of information on commands. Remember the command we did for listing our files? ls! Let&#39;s find that man page.</p>
<p>Type</p>
<ul>
<li>~$ man ls</li>
</ul>
<p>and hit enter.</p>
<p>Remember we typed ls -la? Let&#39;s learn what -l and -a is!</p>
<h2 is-upgraded>-l</h2>
<p>To search inside a man page, you use a / . Now type /-l and hit enter. You will probably see the page move to the first occurrence found and on top of that you should see that -l was highlighted. To move around your search keep hitting n (stands for next) until you see -l highlighted to the left. This will be above -L Long listing stands for listing the items in a row as seen in figure 2</p>
<h2 is-upgraded>-a</h2>
<p>Type /-a and hit enter. Hit n till you can&#39;t go any further. Now hit b (stands for back) until you find the entry for -a which is above -A The man page is telling you that files that start with . like .bashrc (which are typically hidden) are now going to be displayed.</p>
<h2 is-upgraded>q</h2>
<p>When in a man page and you need to get out, just type q</p>
<p>TASK: Open the man page for &#34;file&#34;. Can you give a brief description of what the command &#34;file&#34; does?</p>
<ul>
<li>If you don&#39;t see it highlighted, you may have typed something by mistake or your console colors may not be optimized. If you typed something by mistake, just retype /-l etc.</li>
</ul>


      </google-codelab-step>
    
      <google-codelab-step label="File Types" duration="10">
        <p>Not all files appear as they really are. Just because you see a file that says, imanimage.png does not mean that it is an image. It could be a text file or a harmful file if executed! So... how do you protect yourself? One way is with the file command!</p>
<h2 is-upgraded>file</h2>
<p>To find out what a file really is regardless of its extension is file. Check out the man page. Give it a peruse by typing in man file. What type of options are there with file? Now let&#39;s test it. Type q to get out of the man page.</p>
<p>There are 2 files in your Linux box in a folder at your home directory called /toLearn . One is called cat.jpg and the other is dog.jpg</p>
<p>Both look like images to me! But if you type in ls -l you will notice that one is a lot larger in size than the other. One is about 25,000 bytes whereas the other is only about 20. Now let&#39;s see what is really going on.</p>
<p>Type</p>
<ul>
<li>~$ file dog.jpg</li>
</ul>
<p>You&#39;ll see something like, dog.jpg: ASCII text</p>
<p>Now type</p>
<ul>
<li>~$ file cat.jpg</li>
</ul>
<p>You&#39;ll see something like, cat.jpg: JPEG image data, Exif standard: TIFF image data, ... etc.</p>
<h2 is-upgraded>cat</h2>
<p>Now let&#39;s learn a new command, cat. cat prints out the text from a file.</p>
<p>Type</p>
<ul>
<li>~$ cat dog.jpg</li>
</ul>
<p>You should see something like:</p>
<p>meow I am a doggo</p>
<p>TASK: In your home directory there is a folder called stuff. Open that up and find out what file types are in there. One is a text file (ASCII). cat that and find the secret code inside.</p>


      </google-codelab-step>
    
      <google-codelab-step label="Case Sensitivity/touch/echo/Angle Brackets" duration="10">
        <h2 is-upgraded>Case Sensitivity</h2>
<p>Case sensitivity means that HoW yoU labEL yoUR files matters. If you search for a file called hiya.docx, it would not be the same as finding a file, hiyA.docX.</p>
<h2 is-upgraded>touch</h2>
<p>touch is a command that ‘touches&#39; a file. If the file exists it updates its modified date. If the file does not exist, then the file will be created with nothing in it. man touch to learn more.</p>
<h2 is-upgraded>echo</h2>
<p>echo will copy what you write to stdout (standard out, explained more later). You can use this in many different ways.</p>
<p>Type</p>
<ul>
<li>~$ echo &#34;This is echoed&#34;</li>
</ul>
<p>You will see that it was repeated back to you!</p>
<h2 is-upgraded>Angle Brackets</h2>
<p>Angle Brackets are &gt; &gt;&gt; &lt; &lt;&lt; . They have many uses. &gt; Will replace a file with what you input. If the file already existed &gt; will delete everything in that file and replace it with what you sent it. In contrast if you use &gt;&gt; , this will append what you sent to the bottom of the file, leaving the rest of the file intact. Let&#39;s give it a try.</p>
<p>Type</p>
<ul>
<li>~$ echo &#34;This is cool&#34; &gt; newfile</li>
<li>~$ cat newfile</li>
</ul>
<p>Now type</p>
<ul>
<li>~$ echo &#34;This is cool too&#34; &gt; newfile</li>
<li>~$ cat newfile</li>
</ul>
<p>You can see that &gt; will replace any text with what you send it. While &gt;&gt; will append to a file</p>
<p>Type</p>
<ul>
<li>~$ echo &#34;This is another thing&#34; &gt;&gt; secondfile</li>
<li>~$ echo &#34;Hello World&#34; &gt;&gt; secondfile</li>
<li>~$ cat secondfile</li>
</ul>
<p>Now let&#39;s combine the two files.</p>
<p>Type</p>
<ul>
<li>~$ cat newfile &gt;&gt; secondfile</li>
<li>~$ cat secondfile</li>
</ul>
<p>You can see the newfile appended to the end of secondfile whereas if you cat newfile it will still only have what we added to it earlier.</p>
<p>TASK: There is a folder in your home directory called textfiles. There are three files, append them all to a new file called, alltogether.txt in your personal directory. (Your home directory)</p>
<p>The tip below is NOT required but only if you want a harder task!</p>
<p>There are many ways to accomplish this in one line, here is a hint for one way, type</p>
<p>echo &#34;one&#34;; echo &#34;two&#34;; echo &#34;three&#34;;</p>


      </google-codelab-step>
    
      <google-codelab-step label="vim, Regular expresssions, and find" duration="10">
        <h2 is-upgraded>vim</h2>
<p>vim is a program that is used to edit files, and will hopefully be your new best friend! There are different editors out there for example, nano and emacs. To create a file just type</p>
<ul>
<li>~$ vim mynewfile.txt</li>
</ul>
<p>Or</p>
<ul>
<li>~$ vim thisisfun</li>
</ul>
<p>To edit a file that is already created it&#39;s the same procedure, just make sure not to misspell it or you&#39;ll create a new file with that spelling.</p>
<p>Once you are in vim the main key strokes to editing a file are:</p>
<p>i - This puts you in edit mode to type and delete text like you normally would</p>
<p>esc - Hitting the escape key will take you out of edit mode:w - These keystrokes will save the file. w stands for write.:q! - To quit without saving. Did you edit a file and don&#39;t want to commit that change? These keystrokes will exit vim and NOT save your file.</p>
<p>:q - These keystrokes will quit the vim program. You can also do :wq to save the file and quit right away. :q will not work unless you have saved your file or you have made no changes what-so-ever.</p>
<p>dd - When you are NOT in edit mode this will delete an entire line. (Make sure your cursor is on the line you want to delete)</p>
<p>0 - zero will take you to the beginning of a line</p>
<p>$ - will take you to the end of a line</p>
<p>There is a LOT that vim can do but we won&#39;t list it all here. Do a search on the internet to learn more! You can also check out a vim command cheat sheet, here and here. But at the end of this lesson will be a couple more commands that you will find to be amazingly helpful! You can also check out vimtutor:</p>
<p>~$ vimtutor</p>
<p>TASK: In your home directory in a folder called editme there is a file called editme.txt, open that up in vim. Delete lines 4 and 5 and add 2 more lines of anything you would like at the end of the file. Don&#39;t forget to save.</p>
<h2 is-upgraded>Regular expressions</h2>
<p>Regular expressions are used to help you find something on your computer and can be used in programming to enhance your programs. There are a LOT of websites out there that teach you all about it but the gist is that you can use symbols like a * to mean something when parsing through text. For example the * is a wild card. Let&#39;s say I wanted to find a file with the word spekter in it. But there could be other text before and after the word spekter. So I could say search for, spekter. This means, search for spekter and I don&#39;t care if there is anything else before or after.</p>
<p>To learn about how powerful regular expressions are check out these sites:</p>
<p><a href="https://regexone.com/" target="_blank">regular expressions 1</a></p>
<p><a href="https://regexr.com/" target="_blank">regular expressions 2</a></p>
<h2 is-upgraded>find</h2>
<p>This leads us to find. find is a very helpful tool that you can use to find things on your computer. Take a moment to peruse the man page for find. (man find) Get an idea of how it is used.</p>
<p>An example as given earlier:</p>
<ul>
<li>~$ find . -type f -iname <em>*spekter*</em></li>
<li>What you see is the command find. The next ‘.&#39; is telling us where we want to find. It&#39;s the path. The dot means, search in this location where I am at. We could also type in /Documents or a full path from the root. Where ever you need to search.</li>
<li>The parameter -type is telling find that you specifically want to find a type of object, in this case, f stands for a regular file.</li>
<li>-iname is telling the name of the file we are looking for. You can also use -name but -iname is case insensitive. This means that my search will pull up, SpeKter as well.</li>
<li>Lastly, the *&#39;s on either side again tell find that I want everything with spekter in it, regardless of what is around it. If I did not add that, my find will pull up nothing.</li>
</ul>
<p>TASK: Hidden throughout your home directory are image files with the name, edurange. Take your skills and find all 6. Create a new file in your home directory and put the location and type of each in that file. Remember there are many types of file images. Png, jpg, jpeg, and gif to name the widely used ones.</p>


      </google-codelab-step>
    
      <google-codelab-step label="More Commands" duration="10">
        <h2 is-upgraded>mv</h2>
<p>mv is used to move a file from one location to another, or to rename a file. type ‘man mv&#39;<br>to learn more.</p>
<h2 is-upgraded>cp</h2>
<p>cp is used to copy a file to a new location. Type ‘man cp&#39; to learn more.</p>
<h2 is-upgraded>less</h2>
<p>less is more. The command less is used to open larger files, page by page. It allows you more<br>tools to read a file in an organized fashion.</p>
<h2 is-upgraded>cowsay</h2>
<p>cowsay is probably one of the best commands... ever. Well maybe not ever, but it is fun!</p>
<ul>
<li>~$ cowsay &#34;this is fun&#34;</li>
</ul>
<h2 is-upgraded>fortune</h2>
<p>fortune gives you, well, a fortune! Go ahead give it a whirl!</p>
<h2 is-upgraded>Piping</h2>
<p>Piping is a new concept but stick with me on this one. When you give input to a command it is considered a standard in (STDIN). In other words it is data that is fed to a program/command. Whereas when you see something printed out back to you it is using standard out (STDOUT). A pipe, also recognized as | is used when you want something that is a STDOUT to then be used as the STDIN. To understand this we will use a fun example.</p>
<p>Remember fortune? If we just type fortune we get a fortune back. That fortune we get back is a STDOUT. But when we use cowsay we type something for the cow to say, which is STDIN. So we can use a pipe to take our fortune and have the cow say it!</p>
<ul>
<li>~$ fortune | cowsay</li>
</ul>
<h2 is-upgraded>More vim</h2>
<p>There are a few more really useful commands I would like to teach you about vim.</p>
<p>If you want to open up multiple files at the same time you can do:</p>
<ul>
<li>~$ vim fileone filetwo.c filethree.h filefour.cc</li>
</ul>
<p>Or you can open up another file or create a new file while you are still in vim with:</p>
<ul>
<li>~$ :e anotherfile.js</li>
</ul>
<p>And you can jump from file to file with the :b keystrokes and using tab to go through which file you would like to edit next.</p>


      </google-codelab-step>
    
      <google-codelab-step label="Final Mission" duration="15">
        <p>Here at CyberSec you have been well trained recruit, now let&#39;s put your training to test! This is a real mission of the utmost importance. Complete this and you are assured a spot on our team.</p>
<p>TASK: Our intelligence has told us that somewhere in your computer is an image that is vital to our company. This image has a weird name but we know for certain that it contains the word ‘cowFJS&#39; in it. Through our sources we also know that there is ANOTHER file in that folder. COPY both the image and second file to your home directory in a new folder, called final-mission. Then create a new file in the folder, final-mission, called ‘cowsay.file&#39; with the contents of the cowsay man file in it.</p>
<p>HINT: If you are using 'find /' to search from the root of the filesystem, you will want a way to block 'Permission denied' error messages from filling your terminal. </p>
        <p>To do this, add '2>/dev/null' to the end of your command, as in:</p> 
          <ul>
            <li>'find / [arguments for your find command] 2>/dev/null'.</li>
        </ul>
            <p>In this code snippet, '2' represents the output stream for error messages, and /dev/null is a device reserved for garbage collection.</p>

      </google-codelab-step>
    
  </google-codelab>

  <script src="https://storage.googleapis.com/codelab-elements/native-shim.js"></script>
  <script src="https://storage.googleapis.com/codelab-elements/custom-elements.min.js"></script>
  <script src="https://storage.googleapis.com/codelab-elements/prettify.js"></script>
  <script src="https://storage.googleapis.com/codelab-elements/codelab-elements.js"></script>

</body>
</html>
