 
.exo-sidenav-frame {
    width: 100vw;
    height: 100vh;
}

.exo-sidenav-body {
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
}

.exo-sidenav-menu {
    height:100%;
    width: 20%;
    max-width:24%;
    min-width:16%;
    background-color: #2F4050
}

.exo-sidenav-list {
    height:auto;
    padding:0;
    width: 100%;
}

.exo-sidenav-list .exo-sidenav-row {
    width: 100%;
    height: 3em;
    background-color: #48627b;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;

}
.exo-sidenav-row #exo-sidenav-icon{
    display: grid;
    place-items: center;
    flex:30%
}
.exo-sidenav-row #exo-sidenav-title{
    flex:70%
}
.exo-sidenav-list .exo-sidenav-row:hover{
    cursor: pointer;
    background-color: #3b5165;
}