<!DOCTYPE html>
<html lang="en">
    <head>
        <title>eduRange3 Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"type="text/css" href="/static/build/Home_router.bundle.css"/>  
        <!-- All this css import does is get the css 'bundle' file that is a compilation of the real css files imported/declared in MainFrame.js, 
             which is then passed to Jinja for actual rendering. To add more css, import more ACTUAL css files in MainFrame.js, not here. -->
        <meta name="EMBEDDED_CSRF" content="{{ EMBEDDED_CSRF }}">

        <link rel="icon" href="../../static/build/img/favicon.ico" type="image/x-icon">
    </head>
    <body>    
        <div id="edurange3_entry_id"></div><!-- this is the new initial React entrypoint and foundation component for eduRange3, replacing layout.html  -->
        <script src="/static/build/EduRangeEntry.bundle.js"></script>
    </body>
</html>