<!DOCTYPE html>
<html lang="en">
    <head>
        <title>home_sister</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet"type="text/css" href="/static/build/main_css.bundle.css"/>
        <link rel="stylesheet"type="text/css" href="/static/build/MainFrame.bundle.css"/>
        <input type="hidden" id="csrf_token" value="{{ form.csrf_token._value() }}" />
    </head>
    <body>    
        <div id="react-entry-id"></div><!-- this is the new initial React entrypoint and foundation component for Edurange, replacing layout.html  -->
        <script src="/static/build/MainFrame.bundle.js"></script>
    </body>
</html>