{% extends "layout.html" %}
{% block content %}

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in</h3>
                <form class="form" method="POST" role="form">
                    {{ form.csrf_token }}
                        <div class="form-outline mb-4">
                            {#{{form.username.label}}#}
                            {{form.username(placeholder="Username", class_="form-control")}}
                        </div>
                        <div class="form-outline mb-4">
                            {#{{form.password.label}}#}
                            {{form.password(placeholder="Password", class_="form-control")}}
                        </div>
                        <p><input class="btn btn-primary btn-lg btn-block" type="submit" value="Login"></p>
                </form>
                <p><a href="{{ url_for('public.reset_password') }}">Forgot password?</a></p>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
