{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">

        <h1 class="display-3">Student Progress</h1>

    </div>
</div><!-- /.jumbotron -->
<style>
  h1 { 
      color:black; 
  } 
  div.scroll { 
      margin: 10px, 10px; 
      /* padding: 20px; */  
      background-color: #e9ecef; 
      width: 100%; 
      overflow: auto; 
      white-space: nowrap; 
  } 
</style>
<div class = "scroll", id="Graph Window">
  {{graph_output|safe}}
</div>
{% endblock %}
