<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password</title>
    </head>

    <body>
        {% extends "layout.html" %}
        {% block content %}
        <div class="container-narrow">
            <h1 class="mt-5">Reset password</h1>
            <br/>
            <form method="POST" role="form">
                {{ form.csrf_token }}
                <input type="email" name="email">
                <input type="submit">
            </form>
        </div>
        {% endblock %}
    </body>

</html>
