<!-- Response template to create all necessary elements for group creation AJAX response -->

{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
<div class="col mb-0" id="flashed">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} mb-0">
        <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
            {{ message }}
    </div><!-- end .alert -->
    {% endfor %}
</div><!-- end col -->
{% endif %} {% endwith %}

{% if group %}
<table class="table">
    <tbody id="groupRow">
    <tr class="selectable" data-toggle="collapse" data-target="#{{ group.name.replace(' ', '') }}-table">
        <td> {{ group.name }}</td>
        <td> {{ group.code }}</td>
        <td><i id="{{ group.name.replace(' ', '') }}_size"></i></td>
    </tr>
    </tbody>
</table>

<div id="{{ group.name.replace(' ', '') }}-table" class="col-sm-8 collapse" aria-labelledby="headingUsers"
     data-parent="#groupTables" style="overflow-y:scroll;min-height:300px;">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th> ID #</th>
            <th> Username</th>
            <th> Email</th>
        </tr>
        </thead>
        <tbody>
        {% for student in users %}
        <tr>
            <td> {{ student.id }}</td>
            <td> {{ student.username }}</td>
            <td> {{ student.email }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{#<table class="table">
    <tbody id="studentRows">
    {% for student in users if users is defined %}
        <tr id="uid{{ student.id }}">
            <td> {{ student.id }}</td>
            <td> {{ student.username }}</td>
            <td> {{ student.email }}</td>
            <td class="fit"><button class="btn btn-outline-dark selector mr-3" type="button" id="btn{{ student.id }}"></button></td>
        </tr>
    {% endfor %}
    </tbody>
</table>#}

{% if pairs %}
<div class="col-sm-6 mt-2" id="pairs">
    <div class="card bg-light mb-3">
        <div class="card-header"><b>*Save these pairs somewhere. They will not be available again.</b></div>
        <div class="card-body">
            <button id="copyPairs" class="btn btn-dark" onclick="copy_pairs()"><i class="fa fa-clipboard"></i> Copy to Clipboard</button><p></p>
            <p>Username:  Password</p>
            <textarea cols="30" rows="{{ pairs|length + 1 }}" id="pairValues" readonly="readonly" style="overflow: auto; resize: none;">{% for pair in pairs %}{{ pair[0] }}: {{ pair[1] }}&#10;{% endfor %}</textarea>
        </div>
    </div>
    <script type="text/javascript">
      function copy_pairs() {
        var pairs = document.getElementById("pairValues");
        pairs.select();
        document.execCommand("copy");
      }
    </script>
</div>
{% endif %}

{% endif %}
