{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
<div class="row" id="flashed">
    <div class="col-md-12">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" style="z-index: 2;">
            <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
            {{ message }}
        </div><!-- end .alert -->
        {% endfor %}
    </div><!-- end col-md -->
</div><!-- end row -->
{% endif %} {% endwith %}

<table class="table" id="{{ group.name.replace(' ', '') }}-table">
    <tbody>
        {% for student in users %}
        <tr>
            <td> {{ student.id }}</td>
            <td> {{ student.username }}</td>
            <td> {{ student.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
