@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.hide {
    display: none;
}
.active-page {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#edurange-appframe {
    font-family: 'Share Tech Mono', monospace;
    background-color: var(--deep-purple);
    color: aliceblue;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.universal-content-outer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    
}
.universal-content-mid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding:3% 6%;
    overflow: inherit;
}
.universal-content-inner{
    width: 100%;
    height: 100%;
    overflow: inherit;
}
.login-container {
    display: block;
}
body,html {
    height: 100%;
    background-color: rgb(0, 0, 0);
}
.light-text{
    color: white;
}
#edurange-navhead {
    background-color: chartreuse;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2.8em;
    z-index: -1000;
}
#edurange-content{
    position: absolute;
    top: 2.8em;
    left: 0;
    right: 0;
    bottom: 2em;
    overflow-y: auto;
}
#edurange-navfoot{
    flex: 5;
    background-color: rgb(123, 138, 144);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;
    color: var(--deep-purple);
    text-align: center;
    z-index: 1000;
}