
/* Remove most of the styling except for necessary adjustments */
.hide {
    display: none;
  }
  
  .active-page {
    display: flex;
  }
  
  .app-container {
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .tabs {
    /* padding-top: 16px; */
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    height: 3em;
    border-left: 1px solid rgb(107, 107, 107);
    background-color: rgb(123, 138, 144);
    font-size: 18px;
    font-weight: 500;
    z-index: 1000;
  }
  .active-tab {
    background-color: rgb(40, 191, 255);
  }
  .tab-label{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #master {
    background-color: darkslateblue;
    overflow: auto;
  }
  
  #master-tabs {
    background-color: chartreuse;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }