.exo-hamburger-outer {
    background-color: gray;
    color: var(--deep-green);
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    color: rgb(255, 223, 154);
}
.exo-hamburger-outer:hover {
    background-color: var(--muted-green);
}

#edurange-navhead {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5.4dvh;
    z-index: 1000;
    justify-content:space-between ;
}
#edurange-navhead-buttonbar{
    width:auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.topnav-icon-box{
    margin-right: 4px;
}
.topnav-label-box{
}

.topnav-button-panes{
    display:flex;
    padding: 0 16px;
}

.exo-nav-tabs {
    width: 100%;
    
    border-left: 1px solid rgb(107, 107, 107);
    font-size: 1em;
    font-weight: 500;
    color: var(--muted-orange);
}

.exo-nav-active-tab {
    display: flex;
    align-items: center;
    justify-content: center;
}

.exo-nav-tab-label {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exo-nav-inactive-tab:hover {
    color: rgb(40, 191, 255);
}
