.edu-chatbox-closed {
  font-weight: 200;
  color: white;
  position: fixed;
  bottom: 0;
  right: 2rem;
  overflow: hidden;
  padding: 0 .5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #2e9566;
  border-radius: 1rem 1rem 0 0;
  min-width: 25vw;
  height: 1.9rem;
  transition-duration: .5s;
}

.edu-chatbox-closed:hover, .edu-chatbox-closed:focus {
  height: 2.5rem;
}

.edu-chatbox-closed p {
  margin-bottom: 5rem;
  padding: .2rem .5rem;
}


.edu-chatbox-open {
  font-weight: 200;
  position: fixed;
  bottom: 0;
  right: 2rem;
  overflow: hidden;
  padding: 0 .5em;
  text-align: center;
  display: grid;
  grid: 'header header header' 50px
  'main main main' auto;
  background-color: whitesmoke;
  outline: 2px #2e9566 solid;
  border-radius: 1rem 1rem 0 0;
  min-width: 25vw;
  height: 50vh;
  transition-duration: .5s;
}

.edu-chatbox-open p {
  margin: 0;
  padding: .2rem .5rem;
}

.chat_title {
  height: 5vh;
  grid-area: header;
}

.socket_container {
  height: 45vh;
  grid-area: main;
}

.ClientSocket {
  margin-top: auto;
}

.chat-input-box {
  margin-right: .2rem;
  border: 1px grey solid;
}

.student_chat_send {
  border: 1px solid #2e9566;
  transition-duration: .3s;
}

.student_chat_send:hover, .student_chat_send:focus {
  background-color: #2e9566
}