.edu-chatbox-closed {
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  background-color: white;
  border-radius: .3rem;
}

.type_here {
  display: none;
  border: 1px black solid;
  border-radius: .3rem;
}

.edu-chatbox-closed p {
  margin: 0;
  padding: .2rem .5rem;
}

.edu-chatbox-open {
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  background-color: white;
  border-radius: .3rem;
  width:20rem;
  height: 20rem;
}

.edu-chatbox-open p {
  margin: 0;
  padding: .2rem .5rem;
}

.edu-chatbox-open .type_here {
  margin-top: auto;
  display: block;
}