
.footcontrol-frame {
  min-height: 5%;
  max-height: 5%;
  display: flex;
  min-width: 100%;
  max-width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-direction: row;
  position: absolute;
  bottom: 0%; 
  left: 0;
  right: 0;
  top: 95.2%; 
  box-sizing: border-box;
  align-self: bottom;
  justify-self: bottom;
}
.footcontrol-item{
  height: 100%;
  text-align: center;

  font-size: small;
  display: flex;
  flex-direction: row;
  flex-direction: column;
}
.footcontrol-info-button{
  max-width: 10%;
  min-width: 10%;
  text-align: center;
  font-size: small;
  display: flex;
  flex-direction: row;
  background-color: rgb(207, 148, 0);
  color: rgb(44, 39, 0);
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  border-bottom-left-radius: 15px;
  width: 25%;
  font-size: 14px;

}
.footcontrol-info-button:hover{
  background-color: rgb(255, 211, 144);
  color: rgb(20, 16, 0);
  cursor: pointer;
}
.footcontrol-web-ssh-button{
  max-width: 10%;
  min-width: 10%;
  text-align: center;
  font-size: small;
  display: flex;
  flex-direction: row;
  background-color: var(--purple-normal);
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  font-size: 14px;
}
.footcontrol-web-ssh-button:hover{
  background-color: var(--purple-light);
  color: rgb(0, 9, 20);
  cursor: pointer;
}
.footcontrol-sshinfo-frame{
  width: 100%;
  text-align: left;
  font-size: small;
  display: flex;
  flex-direction: row;
  color: rgb(255, 253, 244);
  align-items: left;
  background-color: rgba(0, 0, 0, 0.185);
}
.footcontrol-chat-button{
  max-width: 8%;
  min-width: 8%;
  text-align: center;
  font-size: small;
  display: flex;
  flex-direction: row;
  background-color: rgb(24, 141, 69);
  color: rgb(255, 244, 244);
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  font-size: 14px;
}
.footcontrol-chat-button:hover{
  background-color: rgb(79, 227, 136);
  color:  var(--green-deep);
  cursor: pointer;
}
.footcontrol-ssh-label-frame{
  color:  goldenrod;
  height: 100%;
  width: 12%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  display: flex;
  border-top: 1px solid  rgba(218, 165, 32, 0.344);
  border-bottom: 1px solid  rgba(218, 165, 32, 0.344);
}
.footcontrol-ssh-sublabel-frame{
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  justify-items: flex-start;
  flex-direction: column;
  display: flex;
  width: 12%;
  border-top: 1px solid  rgba(218, 165, 32, 0.344);
  border-bottom: 1px solid  rgba(218, 165, 32, 0.344);
  text-align: left;

}
.footcontrol-ssh-sublabel-item{
  color:  goldenrod;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  text-align: left;
}
.footcontrol-ssh-creds-frame{
  color:  var(--green-deep);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}
.footcontrol-ssh-copy-section{
  color:  var(--orange-strong);
  height: 100%;
  width: 14%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  border-bottom-right-radius: 15px;
  contain: content;
  box-sizing: border-box;
  border-top: 1px solid rgba(218, 165, 32, 0.277);
}
.footcontrol-ssh-buttons-column{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  contain: content;
  box-sizing: border-box;
}
.footcontrol-ssh-copy-label{
  color:  inherit;
  text-orientation: upright;
  writing-mode: vertical-lr;
  font-size: 8pt;
  letter-spacing: -6px;
  cursor: default;
  font-weight: 50;
  contain: content;
  box-sizing: border-box;
  width: 30px;
}

.footcontrol-ssh-creds-values-frame{
  color:  var(--green-deep);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  border-top: 1px solid  rgba(218, 165, 32, 0.344);
  border-bottom: 1px solid  rgba(218, 165, 32, 0.344);
}
.footcontrol-ssh-creds-values-row{
  color:  var(--green-deep);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  padding-left: 4px;
}
.footcontrol-ssh-creds-values-text{
  align-items: center;
  color:  rgb(81, 217, 255);
  justify-content: flex-start;
  display: flex;
  text-align: left;
  height: 1.18em;
  width: auto;
  background-color: rgba(255, 255, 255, 0.08);
}