




.notification-frame{
    border: 2px solid var(--normal-blue);
    background-color: var(--muted-orange);
    width:75%;
    height:90%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    /* padding: 5%; */
    /* border-radius: 30px; */
}
.table-container {
    display:flex;
    width:100%;
    height:100%;
    flex-direction: column;
}

.notif-table-top {
    background-color: rgb(0, 233, 12);
    color: rgb(38, 0, 255);
}