/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

input[type="radio"], input[type="checkbox"]:not(.option) {
  box-sizing: border-box;
  padding: 0;
  transform: scale(2);
}


table, th, td {
  border: 1px solid black;
}
th {
  cursor: pointer;
}
.table td.fit, .table th.fit {
  white-space: nowrap;
  width: 5%;
}
.table tr.selectable:hover {
  background-color: azure;
  cursor: pointer;
}
.table tr.selectable.active {
  background-color: #999999;
}

/* Removes active effects from table selection buttons,\
    may be bad for accessibility, but UIDs can be entered by keyboard if need be */
button.selector:focus {
  outline: none;
  box-shadow: none;
}
th.fit button:focus {
  outline: none;
  box-shadow: none;
}


.sidebar {
  height: 100%;
  margin-left: 0;
  padding-top: 55px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
}
.sidebar.list-group {
  width: 20rem;
}
.list-group-item .fa-info {
  position: relative;
  right: -5px;
  padding-right: 12px;
}
.sidebar.hidden {
  margin-left: -20rem;
}
.sidebar.pausetransition {
  transition: margin 0s;
}

.user-button {
  position: relative;
}
.user-button .fa {
  position: absolute;
  line-height: 24px;
  top: 50%;
  margin-top: -12px;
  left: 10px;
}
