/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

input[type="radio"], input[type="checkbox"]:not(.option) {
  box-sizing: border-box;
  padding: 0;
  transform: scale(2);
}


table, th, td {
  border: 1px solid black;
}
th {
  cursor: pointer;
}
.table td.fit, .table th.fit {
  white-space: nowrap;
  width: 5%;
}
.table tr.selectable:hover {
  background-color: azure;
  cursor: pointer;
}
.table tr.selectable.active {
  background-color: #999999;
}

/* Removes active effects from table selection buttons,\
    may be bad for accessibility, but UIDs can be entered by keyboard if need be */
button.selector:focus {
  outline: none;
  box-shadow: none;
}
th.fit button:focus {
  outline: none;
  box-shadow: none;
}


.sidebar {
  height: 100%;
  margin-left: 0;
  padding-top: 55px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
}
.sidebar.list-group {
  width: 20rem;
}
.list-group-item .fa-info {
  position: relative;
  right: -5px;
  padding-right: 12px;
}
.sidebar.hidden {
  margin-left: -20rem;
}
.sidebar.pausetransition {
  transition: margin 0s;
}

.user-button {
  position: relative;
}
.user-button .fa {
  position: absolute;
  line-height: 24px;
  top: 50%;
  margin-top: -12px;
  left: 10px;
}

/* Navbar related style */

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#edu-navbar {
  padding: 5px 5px;
}

.edu-navbar-left-elt {
  /*padding-left: 15px;*/
}

#edu-navbar-right-elt {
  padding-right: 5px;
  align-items: center;
}

/* align login form with the navbar */
#edu-navbar-right-elt li form .form-group {
  margin-bottom: 0rem !important;
  margin-right: 0rem !important;
}

/* space between login and register */
#edu-navbar-right-elt .nav-item {
  padding-left: 10px;
}

#edu-navbar-login-small {
  display: none;
}

@media (max-width: 614px) {
  #edu-navbar-login-big {
    display: none;
  }

  #edu-navbar-login-small {
    display: flex;
  }
}



a,
a:hover,
a:focus {
    /*color: inherit;*/
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.sub-navbar {
    margin-top: -10px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


.wrapper {
	padding-top: 70px;
    display: flex;
    width: 100%;
}


#edu-sidebar {
	  /*padding-top: 175px;*/
    width: 250px;
    position: fixed;
    top: 47px;
    left: 0;
    height: 100vh;
    z-index: 999;
    /*background: #7386D5;*/
	  background: #509b79;
    color: #fff;
    transition: all 0.3s;
	  margin-left: -250px;
    display: none;
}
#edu-sidebar.active {
	  margin-left: 0px;
}

#edu-sidebar .sidebar-header {
    padding: 20px;
    padding-top: 75px; /* how thick is the navbar? */
    /*background: #6d7fcc;*/
	 background: #2e9566;
}

#edu-sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#edu-sidebar ul p {
    color: #fff;
    padding: 10px;
}

#edu-sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
	display: block;
}

#edu-sidebar ul li a:hover {
    /*color: #7386D5;*/
	color: #509b79;
    background: #fff;
}

#edu-sidebar ul li.active>a,
a[aria-expanded="true"] { /* makes any a[aria-expanded=true] green, for example the account dropdown */
    color: #fff;
    /*background: #6d7fcc;*/
	background: #2e9566;
}

/* make sidebar links have white text */
#edu-sidebar a,
         a:hover,
         a:focus {
          color: inherit;
         }




#sidebar {
	  /*padding-top: 175px;*/
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    /*background: #7386D5;*/
	  background: #509b79;
    color: #fff;
    transition: all 0.3s;
	  margin-left: -250px;
}
#sidebar.active {
	  margin-left: 0px;
}

#sidebar .sidebar-header {
    padding: 20px;
    padding-top: 75px; /* how thick is the navbar? */
    /*background: #6d7fcc;*/
	 background: #2e9566;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
    /*color: #7386D5;*/
	color: #509b79;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] { /* makes any a[aria-expanded=true] green, for example the account dropdown */
    color: #fff;
    /*background: #6d7fcc;*/
	background: #2e9566;
}

/* make sidebar links have white text */
#sidebar a,
         a:hover,
         a:focus {
          color: inherit;
         }

.mCSB_container {
  /*top: 75px;*/
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /*background: #6d7fcc;*/
	background: #2e9566;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

ul.sidebar-bottom-button {
	min-height: 100%;
    padding: 20px;
}

ul.sidebar-bottom-button a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}



a.download {
    background: #fff;
    /*color: #7386D5;*/
	color: #509b79;
}

a.article,
a.article:hover {
    /*background: #6d7fcc !important;*/
	background: #2e9566 !important;
    color: #fff !important;
}

.dropdown span {
	padding-right: 30px;
}

#right-aligned-dropdown-menu {
	left: auto;
	right: 0;
	min-width: 100%;
}

#center-aligned-dropdown-menu {
	left: 50% !important;
	right: auto !important;
	min-width: 100%;
	transform: translate(-50%, 0) !important;
}



#right-aligned-dropdown-menu {
	left: auto;
	right: 0;
	min-width: 100%;
}

#center-aligned-dropdown-menu {
	left: 50% !important;
	right: auto !important;
	min-width: 100%;
	transform: translate(-50%, 0) !important;
}


.connection-details {
	padding-left: 10px;
	margin: auto;	/* center on page */
}

.dropdown-ssh_btn {
  border: none;
  background: none;
  border-radius: 5px;
  padding: .375rem .75rem;
}

.dropdown-ssh_btn:hover, .dropdown-ssh_btn:focus {
  background-color: #dae0e5;
}

.dropdown-ssh_btn:active {
  outline: 3px #e7e9ea solid !important;
}

.ssh-dropdown-menu {
  display: none;
}

.ssh-dropdown-menu.show {
  background-color: #ffffff;
  border: 1px #d9d9d9 solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  position: absolute;
  left: 35%;
  top: 46px;
  padding: 1rem 0;
  z-index: 1500;
}

.ssh-dropdown-menu.show hr {
  margin: 16px 0;
}

.ssh-dropdown-menu span {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
}

.ssh-dropdown-menu span:hover, #connection-dropdown span:focus {
  background-color: #dae0e5;
}

.ssh-dropdown-menu button {
  border: none;
  background-color: #fff;
}

.ssh-dropdown-menu button:hover, .ssh-dropdown-menu button:focus {
  background-color: #dae0e5
}

.ssh-dropdown-menu span b {
  padding-right: 5px;
}

#right-aligned-dropdown-menu {
	left: auto;
	right: 0;
	min-width: 100%;
}

#center-aligned-dropdown-menu {
	left: 50% !important;
	right: auto !important;
	min-width: 100%;
	transform: translate(-50%, 0) !important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
  margin-left: 0;
  }
  #content {
      /*width: calc(100% - 250px);*/
      width: 100%;
  }
  #content.active {
      /*width: calc(100% - 250px);*/
      width: 100%;
  }
  #sidebarCollapse span {
      display: none;
  }
  #dropdownMenuButton span {
    display: none;
  }

  .dropdown-toggle span {
    display: none;
  }
  
  #dropdownMenuButton i {
    padding-right: 30px;
  }
  
  .dropdown-toggle i {
    padding-right: 30px;

  }
}

/* End Navbar related style */
