.guidepane-controlbar-frame{
    min-height: 5%;
    max-height: 5%;
    min-width: 100%;
    max-width: 100%;
    position: relative;
    bottom: 0px; 
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    box-sizing: border-box;
    border-top: 1px solid rgba(218, 165, 32, 0.527);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.guidepane-controlbar-tabs-frame{
    height: 100%;
    width: 100%;
    flex-direction: row;
    position: relative;
    justify-content:space-between ;
    justify-items: space-evenly;
    align-items: space-evenly;
    align-content: space-evenly;
    bottom: 0px; 
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    box-sizing: border-box;
}
.guidepane-controlbar-tab{
    border-bottom: 1px solid rgba(218, 165, 32, 0.503);
    border-left: 1px solid rgba(218, 165, 32, 0.503);
    height: 100%;
    min-height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: small;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.guidepane-tab-left{
    border-top-left-radius: 15px;
    border-left:none;
    min-width: 10%;
    display: flex;
    position: relative;
    left:0;
}
.guidepane-tab-middles{
    width: 100%;
    display: flex;
}
.guidepane-tab-right{
    border-top-right-radius: 15px;
    min-width: 10%;
    display: flex;
}
.guidepane-tab-inactive{
    background-color: var(--blue-dark);
    color: var(--orange-light);
    display: flex;
}
.guidepane-tab-active{
    background-color: var(--blue-normal);
    color: var(--blue-deep);
    display: flex;
}
.guidepane-tab-active:hover{
    cursor:default ;
}
.guidepane-tab-inactive:hover{
    color: var(--blue-deep);
    background-color: var(--blue-light);
    cursor:pointer ;
}
.guidepane-guide-frame{
    contain: content;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    bottom:0;
    right: 0;
    top: 0;
    flex-direction: column;
}
.guidepane-guide-main{
    max-width: 100%;
    display: flex;
    width: 100%;
    max-height: 96%;
    min-height: 96%;
    line-height: 1.35;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.696);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    border-left: rgba(218, 165, 32, 0.472) 1px solid;
    border-right: rgba(218, 165, 32, 0.472) 1px solid;
    box-sizing: border-box;
    position: relative;
    bottom: 0px; 
    left: 0;
    right: 0;
    top: 0;
}
.guidepane-guide-text{
    color: var(--orange-normal);
    width: 98%; 
    max-height: 92%;
    min-height: 92%;
    overflow-y: auto ;
    position: relative;
    bottom: 0px; 
    left: 1%;
    right: 0;
    top: 1%;
}