.edu-reading {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem 0;
  margin-right: 1rem;
  box-shadow: 1px 2px 5px 1px lightgray;
  background-color: white;
  border-radius: 5px;
}