{% extends "layout.html" %}
{% block content %}

    <div class="container mt-2 mb-2">
        <h1>User and Group Management</h1>
    </div>

<div class="container" id="accordion"> {# Allows tables to collapse as an accordion #}

    <div class="row">
        <div class="col-sm-6">
            <div class="card bg-light mb-3">
                <div class="card-header">Manage Instructors</div>
                <div class="card-body">
                    <h5 class="card-text"></h5>
                    <form id="makeInstructor" method="POST" action="" role="form"> {# Front end for form to manage instructor permissions of specified users #}
                        {{ instructorManager.csrf_token }}
                        <div class="form-group">
                            <input class="form-control" id="uName" name="uName" placeholder="Username" required type="text" value="">
                        </div>
                        <button type="submit" name="promote" value="true" class="btn btn-dark">Promote to Instructor</button>
                        <button type="submit" name="promote" value="false" class="btn btn-dark">Demote from Instructor</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Code for tables begins -->

    <div class="card mb-2 mt-2"> <!--instructors table collapse-->
        <div class="card-header" id="headingInstructors">
            <div class="row">
                <h5 class="mb-0">
                    <h2> <i class="fa fa-user"></i> All Instructors
                        <button class="btn btn-dark btn-sm ml-2 " type="button" data-toggle="collapse" data-target="#collapseInstructors" aria-expanded="false" aria-controls="collapseInstructors">
                            <i class="fa fa-caret-down"></i>
                        </button> </h2>
                </h5>
            </div>
        </div>
        <div id="collapseInstructors" class="collapse" aria-labelledby="headingInstructors" data-parent="#accordion">
            <div class="card-body">
                <!--instructors table stuff-->
                <div class="col" style="height:300px;overflow-y:scroll;">
                    <div>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th> ID # </th>
                                <th> Name </th>
                                <th> Email </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in instructors %}
                            <tr>
                                <td> {{ user.id }} </td>
                                <td> {{ user.username }} </td>
                                <td> {{ user.email }} </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--instructors table stuff-->
            </div>
        </div>
    </div> <!--instructors table collapse-->

    <div class="card mb-2 mt-2" id="beforeUsers"> <!--user table collapse-->
        <div class="card-header container-fluid p-4" id="headingUsers">
            <div class="row">
                <h2> <i class="fa fa-user"></i> Manage Students
                    <button class="btn btn-dark btn-sm ml-2" type="button" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="false" aria-controls="collapseUsers">
                        <i class="fa fa-caret-down"></i>
                    </button>
                </h2>
                <!--<div class="col-sm my-auto text-right" id="stuCount"> Count: {{ student_count }} </div>-->
            </div>
        </div>
        <div id="collapseUsers" class="collapse" aria-labelledby="headingUsers" data-parent="#accordion">
            <div class="card-body">
                <!--user table stuff-->
                <form id="addGroupUsers" method="POST" action="" role="form">
                    {{ userAdder.csrf_token}}
                    <div class="row mr-3">
                        <div class="col" id="groupHead">
                            <h4 class="ml-3" style="display:inline;">Groups:</h4>
                            <select name="groups" title="Group" id="groupSel" class="ml-3">
                                {% for group in groups %}
                                <option value="{{group.name}}" SELECTED>{{group.name}}</option>
                                {% endfor %}
                            </select>
                            <span id="groupPop"></span>
                        </div>

                        <div class="col-sm-4 btn-group-vertical float-right">
                            <button name="add" class="btn btn-dark user-button float-right mb-3" type="submit" value="true">
                                <i class="fa fa-plus"></i>Add <i class="selCount"></i> Students to Group</button>
                            <button name="add" class="btn btn-dark user-button float-right mb-2" type="submit" value="false">
                                <i class="fa fa-minus"></i>Remove <i class="selCount"></i> Students from Group</button>
                        </div>
                    </div>
                    <input class="form-control mb-3" name="uids" type="text" id="selection" placeholder="User ID's..">
                    <p></p>
                </form>
                <div style="height: 600px !important; overflow-y: auto;">
                    <table class="table" id="studentTable">
                        <thead class="thead-dark">
                        <tr>
                            <th style="position: sticky; top: 0;"> ID # </th>
                            <th style="position: sticky; top: 0;"> Username </th>
                            <th style="position: sticky; top: 0;"> Email </th>
                            <th class="fit" style="position: sticky; top: 0;"> Selection
                                <button class="btn btn-secondary btn-sm" type="button" id="selectAll">All</button>
                                <button class="btn btn-secondary btn-sm" type="button" id="clearAll">Clear</button>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="studentBody">
                        {% for student in students %}
                            <tr id="uid{{ student.id }}">
                                <td> {{ student.id }}</td>
                                <td> {{ student.username }}</td>
                                <td> {{ student.email }}</td>
                                <td class="fit"><button class="btn btn-outline-dark selector mr-3" type="button" id="btn{{ student.id }}"/></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!--user table stuff-->
            </div>
        </div>
    </div> <!--user table collapse-->

    <div class="card mb-2 mt-2" id="groupStart"> <!-- groups table collapse -->
        <div class="card-header d-inline-flex" id="headingGroups">
            <h2><i class="fa fa-user"></i> All Groups
                <button class="btn btn-dark btn-sm ml-2" type="button" data-toggle="collapse"
                        data-target="#collapseGroups" aria-expanded="false" aria-controls="collapseGroups">
                    <i class="fa fa-caret-down"></i>
                </button>
            </h2>
        </div>
        <div id="collapseGroups" class="collapse" aria-labelledby="headingGroups">
            <div class="card-body row" id="groupTables">
                <!-- groups table stuff -->
                <div class="col-sm-4">
                    <div>
                        <table class="table" id="groupsTable">
                            <thead class="thead-dark">
                            <tr>
                                <th> Name</th>
                                <th> Reg. Code</th>
                                <th> Size</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for group in groups if not group.hidden %}
                            <tr class="selectable" data-toggle="collapse" data-target="#{{ group.name.replace(' ', '') }}-table">
                                <td> {{ group.name }}</td>
                                <td> {{ group.code }}</td>
                                <td><i id="{{ group.name.replace(' ', '') }}_size"></i></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% for group in groups if not group.hidden %}
                <div id="{{ group.name.replace(' ', '') }}-table" class="col-sm-8 collapse" aria-labelledby="headingUsers"
                     data-parent="#groupTables" style="overflow-y:scroll;">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th> ID #</th>
                            <th> Username</th>
                            <th> Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in usersPGroup[group.name] %}
                        <tr>
                            <td> {{ student.id }}</td>
                            <td> {{ student.username }}</td>
                            <td> {{ student.email }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row" id="groupRow">
        <div class="col-sm-6"> {# Front end for form to create a student group #}
            <div class="card bg-light mb-3">
                <div class="card-header">Create Student Group</div>
                <div class="card-body">
                    <h5 class="card-text"></h5>
                    <form id="createGroup" method="POST" action="" role="form">
                        {{  groupMaker.csrf_token }}
                        <div class="form-group">
                            <input class="form-control" id="name" name="name" placeholder="Group Name" required type="text" value="">
                        </div>
                        <div class="form-inline">
                            <input id="groupCreate" name="create" class="btn btn-dark" type="submit" value="Create">&ensp;
                            <input type="checkbox" class="form-check-input option" value="" id="genGroup">
                            <label for="genGroup" class="form-check-label text-muted" id="genGroup-label">
                                &ensp;Generate group of size (0 - 40):&nbsp;
                            </label>
                            <input class="form-control-sm" id="size" name="size" placeholder="0-40" value=""
                                type="number" min="0" max="40" style="width: 70px;" disabled>
                            <!--<input type="hidden" id="defSize" name="size" value="0">-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div> <!-- end of accordian container -->
{% endblock %}

{% block js %}
<script>

  $(document).ready(function() {
    /* Record and display row count for each table (to avoid doubling amount of SQL queries) */
    $("#groupTables i[id$='_size']").each(function(index, element) {
      var name = element.id.slice(0, -5);
      $(element).text($("div[id='" + name + "-table'] tbody tr").length);
    });


    $("#groupsTable tbody").on("click", "tr.selectable", function() {
      $("#groupsTable tbody tr.selectable.active").not($(this)).removeClass("active");
      $(this).toggleClass("active");
      $("#groupTables div[id$='-table']").css("max-height", $("#groupsTable").css("height"));
    });

    /* Event listener to add selected user to uids list */
    $("#studentTable tbody").on("click", "button.selector", function() {
      var uid = this.id.slice(3);
      $(this).toggleClass("btn-outline-dark btn-dark");
      $("#selection").val(function(index, value) {
        if (value.includes(uid)) {
          return value.replace(uid + ',', '');
        } else {
          return value + uid + ',';
        }
      });
      $("#selection").trigger("change");
    });

    $("#selection").on("change", function() {
      var string = $(this).val();
      var count = string.split(",").length - 1;
      $("#addGroupUsers i.selCount").text(count);
    });

    /* Event listener to select all students when "select all" button is pressed */
    $("#selectAll").on("click", function() {
      var buttons = $("button.selector.btn-outline-dark");
      var field = $("#selection");
      buttons.each(function(index, element) {
        field.val(field.val() + $(element).attr('id').slice(3) + ',');
        $(element).toggleClass("btn-outline-dark btn-dark");
      });
      field.trigger("change");
    });

    /* Event listener to clear all selected students when "clear" button is pressed */
    $("#clearAll").on("click", function() {
      $("#selection").val('');
      $("button.selector.btn-dark").toggleClass("btn-outline-dark btn-dark");
      $("#selection").trigger("change");
    });

    /* Event listener to add 'in group' indicators to student table for students in currently selected group */
    $("#groupSel").on("change", function() {
      $('#studentTable td:last-child span.in-group').remove(); // remove any existing 'In Group' indicators
      var tableID = this.value.replace(/\s+/g, ''); // remove spaces from group name
      var ids = []; // array to hold ids found in the groups table
      $("#" + tableID + "-table td:first-child").each(function() { // iterate over ids, pushing each to array
        ids.push(("uid" + $(this).text()).replace(/\s+/g, '')); // remove spaces from id (uid 3 --> uid3)
      });

      for (i = 0; i < ids.length; i++) { // iterate over ids
        $('#studentTable tr[id="' + ids[i] + '"] td:last-child').append(
            '<span class="in-group"><i class="fa fa-check" aria-hidden="true"></i>  In Group </span>'
        ); // append 'in group' indicator to the 'select' column in row whose id matches the current id
      }
      $("#groupPop").text($("#" + tableID + "_size").text() + " in group");
    });
    $("#groupSel").trigger("change"); // trigger change on page load to generate 'in group' indicators

    /* AJAX request for add/removing users from a group */
    $("#addGroupUsers .user-button").on("click", function(e) { //add or remove users buttons
      e.preventDefault(); //prevent form submit
      /*--------- POST request data ---------*/
      let csrf_token = $("#csrf_token").val();
      let add = $(this).val();
      var groups = $("#groupSel").val();
      let uids = $("#selection").val();
      /*-------------------------------------*/

      var data = {'csrf_token': csrf_token, 'add': add, 'groups': groups, 'uids': uids};
      request = $.ajax({ //submit request
        type : 'POST',
        url : "{{ url_for('dashboard.admin') }}",
        data : data
      });
      request.done(function(response) {
        mergeHTML("manageStudents", groups, response); //call function to merge/handle HTML elements from POST response
      });
      request.fail(function(response) {
        alert("Something went wrong!");
      });
    });

    /* AJAX request for creating groups */
    $("#groupCreate").on("click", function(e) {
      e.preventDefault(); //prevent form submit
      /*--------- POST request data ---------*/
      let csrf_token = $("#csrf_token").val();
      var name = $("#name").val();
      let create = $(this).val();
      let size = $("#size");
      if (size.prop('disabled')) { size = 0; } else { size = size.val(); }
      /*-------------------------------------*/

      var data = {'csrf_token': csrf_token, 'name': name, 'create': create, 'size': size};
      request = $.ajax({ //submit request
        type : 'POST',
        url : "{{ url_for('dashboard.admin') }}",
        data : data
      });
      request.done(function(response) {
        mergeHTML("groupCreate", name, response)
      });
      request.fail(function(response) {
        alert("Something went wrong!");
      });
    });

    function mergeHTML(req, arg, response) {
      $("#flashed").remove(); //remove any flashed messages
      if (req === "groupCreate") {
        var $table = $(response).filter("div[id$='-table']"); //get new group table
        var $row = $(response).find("#groupRow").html();
        var $pairs = $(response).filter("#pairs"); //get username/password pairs (if any)
        var $flash = $(response).filter("#flashed"); //get flashed messages
        var $users = $(response).find("#studentRows").html();
        $("#groupsTable tbody").append($row); //append new group row
        $("#groupTables").append($table); //append new group table
        $("#studentBody").append($users);
        $("#groupSel").append('<option value="' + arg + '">' + arg + '</option>');
        if ($flash.length) {
          $("#headingGroups").append($flash); //flash new messages
        }
        if ($pairs.length) {
          var pairs = $("#pairs");
          if (pairs.length) {
            pairs.replaceWith($pairs);
          }
          else {
            $("#groupRow").append($pairs);
          }
        }
        var group = arg.replace(/\s+/g, '');
        $("#groupsTable i[id='" + group + "_size']").text($("#" + group + "-table tbody tr").length);
      }
      else if (req === "manageStudents") {
        var group = arg.replace(/\s+/g, '');
        var $table = $(response).filter("#" + group + "-table").html();
        var table = $("#" + group + "-table tbody");
        table.replaceWith($table);

        $("#" + group + "_size").text($("#" + group + "-table tbody tr").length);

        $("#groupHead").append($(response).filter("#flashed"));
        $("#groupSel").trigger("change");
      }
    }


    /* Event listener to activate/deactivate group generation input when option is checked/unchecked */
    $("#genGroup").on("change", function() {
      $("#genGroup-label").toggleClass("text-muted");
      document.getElementById("size").toggleAttribute("disabled");
      //document.getElementById("defSize").toggleAttribute("disabled");
    });

  });

</script>
{% endblock %}
