{% extends "layout.html" %}
{% block content %}
    <div class="container mt-2 mb-2">
        <h1>User and Group Management</h1>
    </div>

<div class="container" id="accordion"> {# Allows tables to collapse as an accordion #}

{##}
{#    <div class="container-narrow">                                                                                            #}
{#        <form id="emailForm" method="POST" action="" role="form">                                                             #}
{#            {{ form.csrf_token}}                                                                                              #}
{#            <div class="form-group">                                                                                          #}
{#                <label for="to">Recipient</label>                                                                             #}
{#                <input class="form-control" id="to" name="to" placeholder="Recipient" required type="text" value="">          #}
{#            </div>                                                                                                            #}
{#            <div class="form-group">                                                                                          #}
{#                <label for="subject">Subject</label>                                                                          #}
{#                <input class="form-control" id="subject" name="subject" placeholder="Subject" required type="text" value="">  #}
{#            </div>                                                                                                            #}
{#            <div class="form-group">                                                                                          #}
{#                <label for="body">Message </label>                                                                            #}
{#                <input class="form-control" id="body" name="body" placeholder="Body" required type="text" value="">           #}
{#            </div>                                                                                                            #}
{#            <input name="submit" class="btn btn-dark" type="submit" value="Send">                                             #}
{#            <input name="submit" class="btn btn-dark" type="submit" value="Send in 1 minute">                                 #}
{#        </form>                                                                                                               #}
{#    </div>                                                                                                                    #}

    <div class="row">
        <div class="col-sm-6"> {# Front end for form to create a student group #}
            <div class="card bg-light mb-3">
                <div class="card-header">Create Student Group</div>
                <div class="card-body">
                    <h5 class="card-text"></h5>
                    <form id="createGroup" method="POST" action="" role="form">
                        {{  groupMaker.csrf_token }}
                        <div class="form-group">
                            <input class="form-control" id="name" name="name" placeholder="Group Name" required type="text" value="">
                        </div>
                        <input name="create" class="btn btn-dark" type="submit" value="Create">
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-6"> {# WIP Front end for form to delete students from the database #}
            <div class="card bg-light mb-3">
                <div class="card-header">Manage Students [WIP]</div>
                <div class="card-body">
                    <h5 class="card-text"></h5>
                    <form id="deleteStudent" method="POST" action="" role="form">
                        {{ userDropper.csrf_token }}
                        <div class="form-group">
                            <input class="form-control" id="stuName" name="stuName" placeholder="Username" required type="text" value="">
                        </div>
                        <input name="delete_student" class="btn btn-dark" type="submit" value="Delete Student">
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card bg-light mb-3">
                <div class="card-header">Manage Instructors</div>
                <div class="card-body">
                    <h5 class="card-text"></h5>
                    <form id="makeInstructor" method="POST" action="" role="form"> {# Front end for form to manage instructor permissions of specified users #}
                        {{ instructorManager.csrf_token }}
                        <div class="form-group">
                            <input class="form-control" id="uName" name="uName" placeholder="Username" required type="text" value="">
                        </div>
                        <button type="submit" name="promote" value="true" class="btn btn-dark">Promote to Instructor</button>
                        <button type="submit" name="promote" value="false" class="btn btn-dark">Demote from Instructor</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Code for tables begins -->

    <div class="card mb-2 mt-2" id="beforeUsers"> <!--user table collapse-->
        <div class="card-header container-fluid p-4" id="headingUsers">
          <div class="row">
             <!--<div class="col-md-10">-->
                <!-- <h5 class="mb-0"> -->
                    <h2> <i class="fa fa-user"></i> Manage Students </h2>
                    <button class="btn btn-dark btn-sm ml-2" type="button" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="false" aria-controls="collapseUsers">
                      <i class="fa fa-caret-down"></i>
                    </button>
                <!-- </h5> -->
            <!--  </div> -->
            </div>
        </div>
        <div id="collapseUsers" class="collapse" aria-labelledby="headingUsers" data-parent="#accordion">
            <div class="card-body">
                <!--user table stuff-->
                <form id="addGroupUsers" method="POST" action="" role="form">
                    {{ userAdder.csrf_token}}
                    <div class="row mb-3 mr-3 ">
                      <h4 class="ml-3">Groups:</h4>
                    <select name="groups" title="Group" class="ml-3">
                        {% for group in groups %}
                          <option value="{{group.name}}" SELECTED>{{group.name}}</option>
                        {% endfor %}
                    </select><p></p>
                    </div>
                    <input class="form-control mb-3" name="uids" type="text" id="selection" placeholder="User ID's..">
                    <div class="btn-group-vertical float-right">
                      <input name="add" class="btn btn-dark float-right mb-3" type="submit" value="Add Students to Group:">
                      <input name="remove" class="btn btn-dark float-right mb-3" type="submit" value="Remove Students From Group:"><p></p>
                    </div>
                    <p></p>
                </form>
                <div>

                    <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th> ID # </th>
                            <th> Username </th>
                            <th> Email </th>
                            <th class="fit"> Selection
                                <button class="btn btn-secondary btn-sm" type="button" id="selectAll">All</button>
                                <button class="btn btn-secondary btn-sm" type="button" id="clearAll">Clear</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <td> {{ student.id }}</td>
                            <td> {{ student.username }}</td>
                            <td> {{ student.email }}</td>
                            <td class="fit"><button class="btn btn-outline-dark selector" type="button" id="btn{{ student.id }}"/></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                <!--user table stuff-->
            </div>
        </div>
    </div> <!--user table collapse-->

    <div class="card mb-2 mt-2"> <!--instructors table collapse-->
        <div class="card-header" id="headingInstructors">
          <div class="row">
            <h5 class="mb-0">
                <h2> <i class="fa fa-user"></i> All Instructors
                <button class="btn btn-dark btn-sm ml-2 " type="button" data-toggle="collapse" data-target="#collapseInstructors" aria-expanded="false" aria-controls="collapseInstructors">
                    <i class="fa fa-caret-down"></i>
                </button> </h2>
            </h5>
          </div>
        </div>
        <div id="collapseInstructors" class="collapse" aria-labelledby="headingInstructors" data-parent="#accordion">
            <div class="card-body">
                <!--instructors table stuff-->
                <div class="col" style="height:300px;overflow-y:scroll;">
                    <div>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th> ID # </th>
                                <th> Name </th>
                                <th> Email </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in instructors %}
                            <tr>
                                <td> {{ user.id }} </td>
                                <td> {{ user.username }} </td>
                                <td> {{ user.email }} </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--instructors table stuff-->
            </div>
        </div>
    </div> <!--instructors table collapse-->

    <div class="card mb-2 mt-2"> <!-- groups table collapse -->
        <div class="card-header" id="headingGroups">
            <h5 class="mb-0">
                <h2> <i class="fa fa-user"></i> All Groups </h2>
            </h5>
          </div>
            <div class="card-body">
                <!-- groups table stuff -->
                {% for group in groups if not group.hidden %}
                <div>
                <button class="btn btn-dark btn-sm ml-2 mb-2" type="button" data-toggle="collapse" data-target="#{{ group.name.replace(' ', '') }}-table" aria-expanded="false" aria-controls="{{ group.name.replace(' ', '') }}-table">
                      {{ group.name }} <i class="fa fa-caret-down"></i>
                </button>
                </div>
                <div id="{{ group.name.replace(' ', '') }}-table" class="collapse" aria-labelledby="headingUsers" data-parent="#accordion">
                    <p></p>
                    <div>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th> ID # </th>
                                <th> Username </th>
                                <th> Email </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for student in usersPGroup[group.name] %}
                            <tr>
                                <td> {{ student.id }}</td>
                                <td> {{ student.username }}</td>
                                <td> {{ student.email }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endfor %}
                <!-- groups table stuff -->
            </div>
        </div>
  </div> <!--groups table collapse -->

        </div> <!-- end of accordian container -->

    </div>

</div>
{% endblock %}

{% block js %}
<script>

  /* Event listener to add selected user to uids list */
  $("button.selector").on("click", function() {
    var uid = this.id.slice(3);
    $(this).toggleClass("btn-outline-dark btn-dark");
    $("#selection").val(function(index, value) {
      if (value.includes(uid)) {
        return value.replace(uid + ',', '');
      } else {
        return value + uid + ',';
      }
    });
  });

  /* Event listener to select all students when "select all" button is pressed */
  $("#selectAll").on("click", function() {
    $("button.selector.btn-outline-dark").trigger("click");
  });

  /* Event listener to clear all selected students when "clear" button is pressed */
  $("#clearAll").on("click", function() {
    $("button.selector.btn-dark").trigger("click");
  });


  $(document).ready(function() {
    /* AJAX request for add/removing users from a group */
    $(".user-button").on("click", function(e) { //add or remove users buttons
      var csrf_token; var add; var uids; var groups;
      e.preventDefault(); //prevent form submit
      csrf_token = $("#csrf_token").val();
      add = $(this).val();
      groups = $("#groupSel").val();
      uids = $("#selection").val();
      request = $.ajax({
        type : 'POST',
        url : "{{ url_for('dashboard.admin') }}",
        data : {'csrf_token': csrf_token, 'add': add, 'groups': groups, 'uids': uids}
      });
      request.done(function(response) {
        var $data = $(response).find("#" + groups.replace(/ /g, '') + "-table");
        var table = $("#" + groups.replace(/ /g, '') + "-table");
        table.replaceWith($data);
        var flash = $("#flashed");
        if (flash.length) { //if #flashed exists
          flash.replaceWith($(response).find("#flashed"));
        }
        else {
          $("#beforeUsers").before($(response).find("#flashed"));
        } //flash messages above manage users table
      });
      request.fail(function(response) {
        alert("Something went wrong!");
      });
    });
  });
</script>
{% endblock %}
