{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>User and Group Management</h1>
    </div>

<div class="container" id="accordion">
    <div class="row">
        <div class="col-sm-6">
            <div class="card bg-light mb-3">
                <div class="card-header">Create Student Group</div>
                <div class="card-body">
                    <h5 class="card-text"></h5>
                <form id="createGroup" method="POST" action="" role="form">
                    {{  form.csrf_token }}
                    <div class="form-group">
                        <input class="form-control" id="name" name="name" placeholder="Group Name" required type="text" value="">
                    </div>
                    <input name="create" class="btn btn-dark" type="submit" value="Create">
                </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-light mb-3">
                <div class="card-header">Promote to Instructor </div>
                <div class="card-body">
                    <h5 class="card-text"></h5>
                <form id="makeInstructor" method="POST" action="" role="">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <input class="form-control"id="uName" name="uName" placeholder="Username" required type="text" value="">
                    </div>
                    <input name="make_instructor" class="btn btn-dark" type="submit" value="Make Instructor">
                </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card"> <!--user table collapse-->
        <div class="card-header" id="headingUsers">
            <h5 class="mb-0">
                <h2> <i class="fa fa-user"></i> All Students </h2>
                <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="false" aria-controls="collapseUsers">
                    Show/Collapse
                </button>
            </h5>
        </div>
        <div id="collapseUsers" class="collapse" aria-labelledby="headingUsers" data-parent="#accordion">
            <div class="card-body">
                <!--user table stuff-->
                <form id="addGroupUsers" method="POST" action="" role="form">
                    {{ form.csrf_token}}
                    <input name="add" class="btn btn-dark" type="submit" value="Add Selected To:">
                    <select name="groups" title="Group">
                        {% for group in groups %}
                            <option value="{{group.name}}" SELECTED>{{group.name}}</option>
                        {% endfor %}
                    </select><p></p>
                    <input name="remove" class="btn btn-dark" type="submit" value="Remove Selected From:"><p></p>

                    <input class="form-control" name="uids" type="text" id="selection" placeholder="User ID's..">

                    <p></p>
                <div>
                    <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th> ID # </th>
                            <th> Username </th>
                            <th> Email </th>
                            <th> Selection </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <td> {{ student.id }}</td>
                            <td> {{ student.username }}</td>
                            <td> {{ student.email }}</td>
                            <td><button class="btn btn-dark" type="button" value="Select" id="btn{{ student.id }}" onclick="selectUser({{ student.id }});"/></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                </form>
                <!--user table stuff-->
            </div>
        </div>
    </div> <!--user table collapse-->

    <div class="card">
        <div class="card-header" id="headingUsers">
            <h5 class="mb-0">
                <h2> <i class="fa fa-user"></i> All Groups </h2>
            </h5>
        </div>
        {% for group in groups if not group.hidden %}

        {% endfor %}

    </div>

    <div class="card"> <!--instructors table collapse-->
        <div class="card-header" id="headingInstructors">
            <h5 class="mb-0">
                <h2> <i class="fa fa-user"></i> All Instructors </h2>
                <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseInstructors" aria-expanded="false" aria-controls="collapseInstructors">
                    Hide / Show Table
                </button>
            </h5>
        </div>
        <div id="collapseInstructors" class="collapse" aria-labelledby="headingInstructors" data-parent="#accordion">
            <div class="card-body">
                <!--instructors table stuff-->
                <div class="col" style="height:300px;overflow-y:scroll;">
                    <div>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th> ID # </th>
                                <th> Name </th>
                                <th> Email </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in instructors %}
                            <tr>
                                <td> {{ user.id }} </td>
                                <td> {{ user.username }} </td>
                                <td> {{ user.email }} </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--instructors table stuff-->
            </div>
        </div>
    </div> <!--instructors table collapse-->


    <div class="container-narrow">
        <form id="emailForm" method="POST" action="" role="form">
            {{ form.csrf_token}}
            <div class="form-group">
                <label for="to">Recipient</label>
                <input class="form-control" id="to" name="to" placeholder="Recipient" required type="text" value="">
            </div>
            <div class="form-group">
                <label for="subject">Subject</label>
                <input class="form-control" id="subject" name="subject" placeholder="Subject" required type="text" value="">
            </div>
            <div class="form-group">
                <label for="body">Message </label>
                <input class="form-control" id="body" name="body" placeholder="Body" required type="text" value="">
            </div>
            <input name="submit" class="btn btn-dark" type="submit" value="Send">
            <input name="submit" class="btn btn-dark" type="submit" value="Send in 1 minute">
        </form>
    </div>
    <div class="container-narrow">
        <form id="createGroup" method="POST" action="" role="form">
            {{  form.csrf_token }}
            <div class="form-group">
                <label for="name">Group Name</label>
                <input class="form-control" id="name" name="name" placeholder="Group Name" required type="text" value="">
            </div>
            <input name="create" class="btn btn-dark" type="submit" value="Create">
        </form>
    </div>

    <script>
        function selectUser(uid) {
          if (document.forms['addGroupUsers']['selection'].value.includes(uid) == true) {
            document.forms['addGroupUsers']['selection'].value = document.forms['addGroupUsers']['selection'].value.replace(uid + ',', '');
          } else { document.forms['addGroupUsers']['selection'].value += uid + ','; }
        }
    </script>
    {% endblock %}

</div>


{% endblock %}
