{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>Choose a Scenario to Create</h1>
    </div>
<div class="container">
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th> Scenario </th>
        <th> Description </th>
        <th> Action </th>
    </tr>
    </thead>
    <tbody>
        {% for s in scenarios %}
            <tr>
                <td> {{ s.name }}</td>
                <td> {{ s.description }}</td>
                <td> <form action="/dashboard/catalog" method="get">
                    <input class="btn btn-dark" type="submit" value="Create"
                           name="Submit" id="new_scenario" />
                </form>
                </td>
            </tr>
        {% endfor  %}
    </tbody>
</table>
</div>

{%  endblock %}