{% extends "layout.html" %}
{% block content %}
    <div class="container-narrow">
    <div class='panel panel-default'>
        <div class='panel-heading nav nav-pills'>
            <li>
                <h4 class='panel-title' id='scenario-new-title'>
                    New Scenario
                </h4>
            </li>
        </div>
        <table class='table'>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}