
{% extends "layout.html" %}
{% block content %}
	<div class="container">
		<h1>Welcome {{ current_user.username }}</h1>
		<h3>This is your Instructor Dashboard</h3>
	</div>

	<div class="container-narrow" id="accordion"> {# Allows tables to collapse as an accordion #}

		<div class="row">
			<div class="col-sm-6"> {# Front end for form to create a student group #}
				<div class="card bg-light mb-3">
					<div class="card-header">Create Student Group</div>
					<div class="card-body">
						<h5 class="card-text"></h5>
						<form id="createGroup" method="POST" action="" role="form">
							{{ groupMaker.csrf_token }}
							<div class="form-group">
								<input class="form-control" id="name" name="name" placeholder="Group Name" required type="text" value="">
							</div>
							<input name="create" class="btn btn-dark" type="submit" value="Create">
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="card"> <!--owned groups-->
			<div class="card-header" id="headingOwned">
				<h5 class="mb-0">
					<h2> <i class="fa fa-user"></i> Owned Groups </h2>
					<button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseOwned" aria-expanded="false" aria-controls="collapseOwned">
						Hide / Show Table
					</button>
				</h5>
			</div>
			<div id="collapseOwned" class="collapse" aria-labelledby="headingOwned" data-parent="#accordion">
				<div class="card-body">
					<!--owned table stuff-->
					<div class="col" style="height:300px;overflow-y:scroll;">
						<div>
							<table class="table">
								<thead class="thead-dark">
								<tr>
									<th> Group ID </th>
									<th> Group Name </th>
									<th> Code </th>
								</tr>
								</thead>
								<tbody>
								{% for group in groups %}
								<tr>
									<td> {{ group.id }} </td>
									<td> {{ group.name }} </td>
									<td> {{ group.code }}</td>
								</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<!--owned table stuff-->
				</div>
			</div>
		</div><!--owned groups-->

		<div class="card"><!--student responses-->
			<div class="card-header" id="headingResponse">
				<h5 class="mb-0">
					<h2> <i class="fa fa-user"></i> Student Responses</h2>
					<button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseResponse" aria-expanded="false" aria-controls="collapseResponse">
						Hide / Show Table
					</button>
				</h5>
			</div>
			<div id="collapseResponse" class="collapse" aria-labelledby="headingResponse" data-parent="#accordion">
				<div class="card-body">
					<!--response table stuff-->
					<div class="col" style="height:300px;overflow-y:scroll;">
						<div>
                            <p>Sorry</p>
                            <p>But your table is in another page</p>
						</div>
					</div>
					<!--response table stuff-->
				</div>
			</div>
		</div><!--student responses-->
	</div>

{% endblock %}

