{% extends "layout.html" %}
{% block content %}

<!-- scripts for notification page -->
<p></p>
<div class="container">
    <form method="POST">
        {{ deleteNotify.csrf_token }}
        <input name="clearButton" class="btn btn-dark" type="submit" value="Clear all notifications"/>
    </form>
    <p></p>
    <table class="table">
        <caption>Table of Notification history</caption>
        <thead class="thead-dark">
            <tr>
                <th data-sort="string"scope="col">Notification</th>
                <th data-sort="float" data-sort-default="desc" scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr>
                <td>{{notification.detail}}</td>
                <td>{{notification.date}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
