{% extends "layout.html" %}
{% block content %}
<style>
    h1 {
        color: black;
    }

    div.scroll {
        margin: 4px, 4px;
        padding: 20px;
        background-color: #e9ecef;
        width: 100%;
        overflow: auto;
        white-space: nowrap;
    }
</style>

<body>
    <div class="jumbotron">
        <div id="graphSelector">
            <h5>Select a Student and Scenario to Graph:</h5>

            <form id="form" action="/dashboard/progress_dev" method="post">
                {{ form.csrf_token }}
                <select id="student-select" name="student" title="students" onchange="updateDropdown('#student-select', '#scenario-select')">
                    <option selected>select</option>
                    {% for st in students %}
                    <option>{{ st }}</option>
                    {% endfor %}
                </select>

                {{ form.csrf_token }}
                <select id="scenario-select" name="scenario" title="scenarios" onchange="updateDropdown('#scenario-select', '#student-select')">
                    <option selected>select</option>
                    {% for sc in scenarios %}
                    <option>{{ sc }}</option>
                    {% endfor %}
                </select>
                <input id="generate-graph" class="btn btn-dark" type="submit" value="Generate"/>
            </form>
            <br>
        </div>
    </div>

    <div class="scroll" , id="Graph Window">
        {{ graph_output|safe }}
    </div>
</body>

<script>
    // function updateDropdown(source_id, target_id) {
    //     console.log('source ' + $(source_id).val());
    //     $.ajax(
    //         '/dashboard/progress_dev',
    //         {
    //         type: 'POST',
    //         data: {   
    //             csrf_token: $('#csrf_token').attr('value'),
    //             source_val: $(source_id).val(),
    //             source_id: source_id
    //         },
    //         success: function(response) {
    //             console.log(response)
    //             if (response.includes('<!DOCTYPE html>')) {
    //                 // response is full page not dropdown update
    //                 // reload form or whole page
    //                 $('#form').load()
    //             }

    //             $(target_id).html(function(index, oldHtml) {
    //                 var newHtml = '<option>select</option>';
    //                 response_json = JSON.parse(response)
    //                 for (let item in response_json) {
    //                     console.log(response_json[item]);
    //                     newHtml += '<option>' + response_json[item] + '</option>';
    //                 }
    //                 return newHtml;
    //             });
    //         }
    //     });
    // }

    function updateDropdown(source_id, target_id) { 
        console.log('source ' + $(source_id).val());
        var target_selection = $(target_id).find(":selected").text();
        console.log(target_selection);
        $(target_id).load(
            '/dashboard/progress_dev', {
                csrf_token: $('#csrf_token').attr('value'),
                dropdown_update: true,
                source_val: $(source_id).val(),
                source_id: source_id,
                target_selection: target_selection
        });
    }
</script>
{% endblock %}