{% extends "layout.html" %}
{% block content %}
<style>
    h1 {
        color: black;
    }

    div.scroll {
        margin: 4px, 4px;
        /* padding: 20px; */
        background-color: #e9ecef;
        width: 100%;
        overflow: auto;
        white-space: nowrap;
    }
</style>

<body>
    <div class="jumbotron">
        <div id="graphSelector">
            <h5>Select a Student and Scenario to Graph:</h5>

            <form id="form" action="/dashboard/progress_dev" method="POST" role="form">
                {{ form.csrf_token }}
                <label for="student">Students</label>
                <select id="student" name="student" title="Students" onchange="updateDropdown('#student', '#scenario')">
                    <option selected>select</option>
                    {% for st in students %}
                    <option>{{ st }}</option>
                    {% endfor %}
                </select>

                <label for="scenario">Scenarios</label>                
                <select id="scenario" name="scenario" title="Scenarios" onchange="updateDropdown('#scenario', '#student')">
                    <option selected>select</option>
                    {% for sc in scenarios %}
                    <option>{{ sc }}</option>
                    {% endfor %}
                </select>
                <input id="generate" name="generate" class="btn btn-dark" type="submit" value="Generate"/>
            </form>
            <br>
        </div>
    </div>

    <div class="scroll" , id="Graph Window">
        {{ graph_output|safe }}
    </div>
</body>

<script>
    const updateDropdown = (source_id, target_id) => { 
        $(target_id).load(
            '/dashboard/progress_dev', {
                csrf_token: $('#csrf_token').attr('value'),
                dropdown_update: true,
                source_id: source_id,
                source_selection: $(source_id).val(),
                target_selection: $(target_id).val()
        });
    }
</script>
{% endblock %}