

		{% extends "layout.html" %}
		{% block content %}
			<div class="container">
				<h1>Welcome Instructor {{ current_user.username }}</h1>

                <div class="row">
                    <div class="col-sm-6" align="left">

                    </div>
                </div>
                <form action="/dashboard/catalog" method="get">
                    <input class="btn btn-dark" type="submit" value="New Scenario"
                           name="Submit" id="new_scenario" />
                </form>
			</div>

            <p></p>

            <div class="container-fluid px-4" id="accordion"> <!--scenarios table-->
				<table class="table">
					<caption>List of scenarios</caption>
					<thead class="thead-dark">
						<tr>
							<th scope="col">NAME</th>
							<th scope="col">DESCRIPTION</th>
							<th scope="col">OWNER</th>
							<th scope="col">CREATED AT</th>
							<th scope="col">STATUS</th>
                            <th scope="col">CONTROL</th>
						</tr>
					</thead>
					<tbody> <!--Content of scenario table-->
						{% for scenario in scenarios%}
						<tr>
							<td>{{scenario.name}}</td>
							<td>{{scenario.description}}</td>
							<td>{{scenario.owner}}</td>
							<td>{{scenario.created_at}}</td>
							<td>{{scenario.status}}</td>
                            <td>
                            <form id="startScenario" method="POST" action="" role="">
                                {{ scenarioMaker.csrf_token }}
                                <input name="start_scenario" class="btn btn-success" type="submit" value="Start">
                            </form>
                                <form id="startScenario" method="POST" action="" role="">
                                    {{ scenarioMaker.csrf_token }}
                                    <input name="stop_scenario" class="btn btn-danger" type="submit" value="Stop">
                                </form>
                                <form id="destroyScenario" method="POST" action="" role="">
                                    {{ form.csrf_token }}
                                    <input class="form-control" type="hidden" id="scenario_id" name="sid" value={{ scenario.id }} readonly>
                                    <input name="delete_scenario" class="btn btn-danger" type="submit" value="Destroy">
                                </form>
                            </td>
						</tr>
						{% endfor %}
					</tbody> <!--Content of scenario table-->
				</table>
			</div> <!--scenario table-->

        {% endblock %}
