<!-- | -->

{% extends "layout.html" %}
{% block content %}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h5> ID : {{ i }} </h5>
            <h5> Name : {{ s_name }} </h5>
            <h5> Type : {{ s_type }} </h5>
        </div>

    <ul class="nav nav-tabs mt-3 ml-3">
        <li class="nav-item active">
            <a href="#home" class="nav-link tab-pane fade show active" aria-controls="home" data-toggle="tab"  aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
            <a href="#Guide" class="nav-link tab-pane fade show" data-toggle="tab" aria-selected="false">Guide</a>
        </li>
    </ul>
    <div class="tab-content">
      <div id="home" class="tab-pane fade show active">
        <div class="card-body">
            <div class="container">
            <p> Description : {{ desc }} </p>
            <p> Status : {{ status }} </p>
            <p> Created by : {{ owner }} </p>
            <p> Created at : {{ dt }} </p>
            <b> Connection Information: </b>
            {% for container in add %}
                <p> &nbsp;&nbsp;&nbsp; {{ container }} : {{ add[container] }}</p>
            {% endfor %}
            <p>Questions:</p>
            {% for q in questions %}
                <p>{{ q }}</p>
                <input type="text" class="form-control mb-3" readonly>
            {% endfor %}
          </div>
        </div>
      </div>
        <div id="Guide" class="tab-pane fade">
          <div class="card-body">
              <div class="container">
                <iframe src="{{ guide }}" title="Codelab" style="width:1100px; height:1000px;"></iframe>
              </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
