

{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>Welcome Instructor {{ current_user.username }}</h1>

        <div class="row">
            <div class="col-sm-6" align="left">

            </div>
        </div>
        <form action="/dashboard/catalog" method="get">
            <input class="btn btn-dark" type="submit" value="New Scenario"
                   name="Submit" id="new_scenario" />
        </form>
    </div>

    <p></p>


    <div id="body">
        <div class="container container-fluid" id="scenarios"><!--scenarios table-->
            <table class="table">
                <caption>List of scenarios</caption>
                <thead class="thead-dark">
                <tr>
                    <th data-sort="string" scope="col">NAME</th>
                    <th data-sort="string" scope="col">DESCRIPTION</th>
                    <th data-sort="string" scope="col">OWNER</th>
                    <th data-sort="float" scope="col">CREATED AT</th>
                    <th data-sort="int" scope="col">STATUS</th>
                    <th scope="col">CONTROL</th>
                </tr>
                </thead>
                <tbody> <!--Content of scenario table-->
                {% for scenario in scenarios%}
                    <tr>
                        <td><a class="btn btn-dark" href="{{ '/dashboard/scenarios/%s'%scenario.id }}">{{scenario.name}}</a></td>
                        <td>{{scenario.description}}</td>
                        <td>{{scenario.owner}}</td>
                        <td>{{scenario.created_at|formatdatetime('%d-%m-%Y %I:%M') }}</td>
                        <td>{{scenario.status}}</td>
                        <td>
                            <form id="startScenario" method="POST" action="" role="">
                                {{ scenarioModder.csrf_token }}
                                <input class="form-control" type="hidden" id="scenario_id" name="sid" value={{ scenario.id }} readonly>
                                <input name="mod_scenario" class="btn btn-success" type="submit" value="Start">
                            </form>
                            <form id="stopScenario" method="POST" action="" role="">
                                {{ scenarioModder.csrf_token }}
                                <input class="form-control" type="hidden" id="scenario_id" name="sid" value={{ scenario.id }} readonly>
                                <input name="mod_scenario" class="btn btn-dark" type="submit" value="Stop">
                            </form>
                            <form id="destroyScenario" method="POST" action="" role="">
                                {{ scenarioModder.csrf_token }}
                                <input class="form-control" type="hidden" id="scenario_id" name="sid" value={{ scenario.id }} readonly>
                                <input name="mod_scenario" class="btn btn-danger" type="submit" value="Destroy">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody> <!--Content of scenario table-->
            </table>
        </div> <!--scenario table-->
    </div>
    <script src="/static/build/main_js.bundle.js"></script>

    <script>
        $(document).ready( function () {
            window.setInterval(refresh, 5000);
        });
        $("table").stupidtable();
    </script>
{% endblock %}
