
{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>Welcome {{ current_user.username }}</h1>
        <h3>This is where your scenarios will show up</h3>
    </div>

    <div class="container-narrow" id="accordion">
	    <div class="card"> <!--info table collapse-->
		    <div class="card-header" id="headingInfo">
			    <h5 class="mb-0">
				    <h2> <i class="fa fa-user"></i> User Info </h2>
				    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">
					    User Info
				    </button>
			    </h5>
		    </div>
		    <div id="collapseInfo" class="collapse" aria-labelledby="headingInfo" data-parent="#accordion">
			    <div class="card-body">
				    <!--info table stuff-->
				    <div class="col" style="height:300px;overflow-y:scroll;">
				    	{{ infoTable }}
				    </div>
				    <!--info table stuff-->
			    </div>
		    </div>
	    </div> <!--info table collapse-->

		<div class="card"> <!--memberOf table collapse-->
			<div class="card-header" id="headingMemberOf">
				<h5 class="mb-0">
					<h2> <i class="fa fa-user"></i> Member Of Groups:</h2>
					<button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseMemberOf" aria-expanded="false" aria-controls="collapseMemberOf">
						Hide / Show Table
					</button>
				</h5>
			</div>
			<div id="collapseMemberOf" class="collapse" aria-labelledby="headingMemberOf" data-parent="#accordion">
				<div class="card-body">
					<!--memberOf table stuff-->
					<div class="col" style="height:300px;overflow-y:scroll;">
						<div>
							<table class="table">
								<thead class="thead-dark">
								<tr>
									<th> Group ID</th>
									<th> Group Name</th>
								</tr>
								</thead>
								<tbody>
								{% for group in memberOf %}
								<tr>
									<td> {{ group.id }}</td>
									<td> {{group.name }}</td>
								</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<!--memberOf table stuff-->
				</div>
			</div>
		</div><!-- memberOf table collapse-->

	    <div class="card"> <!--scenarios table collapse-->
		    <div class="card-header" id="headingScenario">
			    <h5 class="mb-0">
				    <h2> <i class="fa fa-code"></i> Scenarios </h2>
				    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseScenario" aria-expanded="false" aria-controls="collapseScenario">
					    Scenarios Table
				    </button>
			    </h5>
		    </div>
		    <div id="collapseScenario" class="collapse" aria-labelledby="headingScenario" data-parent="#accordion">
			    <div class="card-body">
				    <!--scenario table stuff-->
				    <div class="col" style="height:300px;overflow-y:scroll;">
				    	<!--{{ scenTable }}-->
					<p> Scenario Table Here </p>
				    </div>
				    <!--scenario table stuff-->
			    </div>
		    </div>
	    </div> <!--scenario table collapse-->
{% endblock %}

