<!-- | -->

{% extends "layout.html" %}
{% block content %}
    <div class="card bg-light">
        <div class="card-header">
            <h3> Name : {{ s_name }} </h3>
            <h3> Type : {{ s_type }} </h3>
        </div>
        <div class="card-body">
            <p><b>  Description : </b> {{ desc }} </p>
            <p><b>  Status : </b> {{ status }} </p>
            <p><b>  Instructor : </b> {{ owner }} </p>
            <p><b>  Port : </b> {{ port }} </p>
            <p><b> Username : </b> {{ u_name }} </p>
            <p><b> Password : </b> {{ pw }} </p>
            <p><b> Connection Information: </b></p>
            {% for container in add %}
                <p> &nbsp;&nbsp;&nbsp; {{ container }} : {{ add[container] }}</p>
            {% endfor %}
        </div>
        <ul class="nav nav-tabs mt-3 ml-3">
            <li class="nav-item active">
                <a href="#Responses" class="nav-link tab-pane fade show active" aria-controls="home" data-toggle="tab"  aria-selected="true">Responses</a>
            </li>
            <li class="nav-item">
                <a href="#Guide" class="nav-link tab-pane show" data-toggle="tab" aria-selected="false">Guide</a>
            </li>
        </ul>

        <div class="tab-content">
            <!--<div class="card bg-light mb-3 mt-0 tab-pane show active" id="Responses">-->
            <div id="Responses" class="tab-pane show active">
                <div class="container mt-3">
                    <h3> Response Form </h3>
                    <div class="card-body">
                        <p> responses </p>
                    </div>
                </div>
            </div>
            <!--<div class="card bg-light mb-3 tab-pane fade" id="Guide">-->
            <div class="tab-pane" id="Guide">
                <div class="container mt-3">
                    <h3> Guide </h3>
                    <div class="card-body">
                        <p> codelab </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
