{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1>Welcome Admin!</h1>
</div>

<div class="container-narrow" id="accordion">
    <div class="card"> <!--user table collapse-->
        <div class="card-header" id="headingUsers">
            <h5 class="mb-0">
                <h2> <i class="fa fa-user"></i> All Students </h2>
                <form id="addGroupUsers" method="POST" action="" role="form">
                    {{ form.csrf_token}}
                    <select name="groups">
                        {% for group in groups %}
                            <option value= "{{group}}" SELECTED>{{group}}</option>"
                        {% endfor %}
                    </select>
                    <input name="add" class="btn btn-dark" type="submit" value="Add"></input>
                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="false" aria-controls="collapseUsers">
                        Users Table
                    </button>
                </form>
            </h5>
        </div>
        <div id="collapseUsers" class="collapse" aria-labelledby="headingUsers" data-parent="#accordion">
            <div class="card-body">
                <!--user table stuff-->
                <div class="col" style="height:300px;overflow-y:scroll;">
                    {{ stuTable }}
                </div>
                <!--user table stuff-->
            </div>
        </div>
    </div> <!--user table collapse-->

    <div class="card"> <!--scenarios table collapse-->
        <div class="card-header" id="headingScenarios">
            <h5 class="mb-0">
                <h2> <i class="fa fa-code"></i> Scenarios Status </h2>
                <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseScenarios" aria-expanded="false" aria-controls="collapseScenarios">
                    Scenarios Table
                </button>
            </h5>
        </div>
        <div id="collapseScenarios" class="collapse" aria-labelledby="headingScenarios" data-parent="#accordion">
            <div class="card-body">
                <!--scenarios table stuff-->
                <div class="col" style="height:300px;overflow-y:scroll;">
                    <p> table goes here </p>
                </div>
                <!--scenarios table stuff-->
            </div>
        </div>
    </div> <!--scenarios table collapse-->

    <div class="card"> <!--groups table collapse-->
        <div class="card-header" id="headingGroups">
            <h5 class="mb-0">
                <h2> <i class="fa fa-user"></i> All Groups </h2>
                <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseGroups" aria-expanded="false" aria-controls="collapseGroups">
                    Groups Table
                </button>
            </h5>
        </div>
        <div id="collapseGroups" class="collapse" aria-labelledby="headingGroups" data-parent="#accordion">
            <div class="card-body">
                <!--groups table stuff-->
                <div class="col" style="height:300px;overflow-y:scroll;">
                    {{ groTable }}
                </div>
                <!--groups table stuff-->
            </div>
        </div>
    </div> <!--groups table collapse-->

    <div class="card"> <!--group users table collapse-->
        <div class="card-header" id="headingGroupUsers">
            <h5 class="mb-0">
                <h2> <i class="fa fa-user"></i> All Group Users </h2>
                <form id="groupFinderForm" method="POST" action="" role="form">
                    {{ form.csrf_token }}
                    <input class="form-control" id="group" name="group" type="text" placeholder="Search" aria-label="Search">
                    <input name="search" class="btn btn-dark" type="submit" value="Search">
                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseGroupUsers" aria-expanded="false" aria-controls="collapseGroupUsers">
                        Hide / Show Table
                    </button>
                </form>
            </h5>
        </div>
        <div id="collapseGroupUsers" class="collapse show" aria-labelledby="headingGroupUsers" data-parent="#accordion">
            <div class="card-body">
                <!--group users table stuff-->
                <div class="col" style="height:300px;overflow-y:scroll;">
                    {{ groUTable }}
                </div>
                <!--group users table stuff-->
            </div>
        </div>
    </div> <!--group users table collapse-->

    <div class="container-narrow">
        <form id="emailForm" method="POST" action="" role="form">
            {{ form.csrf_token}}
            <div class="form-group">
                <label for="to">Recipient</label>
                <input class="form-control" id="to" name="to" placeholder="Recipient" required type="text" value="">
            </div>
            <div class="form-group">
                <label for="subject">Subject</label>
                <input class="form-control" id="subject" name="subject" placeholder="Subject" required type="text" value="">
            </div>
            <div class="form-group">
                <label for="body">Message </label>
                <input class="form-control" id="body" name="body" placeholder="Body" required type="text" value="">
            </div>
            <input name="submit" class="btn btn-dark" type="submit" value="Send">
            <input name="submit" class="btn btn-dark" type="submit" value="Send in 1 minute">
        </form>
    </div>
    <div class="container-narrow">
        <form id="createGroup" method="POST" action="" role="form">
            {{  form.csrf_token }}
            <div class="form-group">
                <label for="name">Group Name</label>
                <input class="form-control" id="name" name="name" placeholder="Group Name" required type="text" value="">
            </div>
            <input name="create" class="btn btn-dark" type="submit" value="Create">
        </form>
    </div>
    {% endblock %}
