{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid">
        <h1>Welcome Admin!</h1>
    </div>

    <div class="container-narrow">
        <div class="row justify-content-start">
            <div class="col">
                <h2>  <i class="fa fa-user"></i>  All Students </h2>
                {{ table }}
            </div>
            <div class="col">
                <h2>  <i class="fa fa-code"></i> Scenario Status </h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr><th>Scenario</th><th>Status</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>There are no scenarios running.</td><td>N/A</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
