

/*  THIS 'pucs.css' REPLACES/CANCELS-OUT/SUPERCEDES './style.css' AND IS THE NEW UNIVERSAL 
    STYLE SHEET FOR EDURANGE-REACT (see `./README.txt`) 
    
    To ease future development, including creation of style themes,
    VARIABLES should be used in your component's .css files in the place of custom colors wherever possible.

    usage example with .css class: 

    .example-class{
        background-color: var(--green-muted);
        color: var(--orange-strong);
    }

    See below for the variable names.  
    
    You should not need to import pucs.css directly into your React
    components, as it is universally available through the webpack's 'main_css.css' which is passed
    into React by way of 'EduRangeEntry.js' -> 'MainFrame.js', which is the 'mother' component
    by which all other components are loaded/rendered.  There may be some details I'm getting
    wrong here, but that's the general idea.

    */

/*  RESET ALL PREDEFINED STYLING FROM BOOTSTRAP, FONTAWESOME, AND LEGACY EDURANGE
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)

START STYLE RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END STYLE RESET */



@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

:root {
    --green-muted: #b8e0d0 ;
    --aqua-muted: #E5F1F3;
    --orange-muted: #fff0c5;
    --blue-muted: rgb(192, 221, 255);;
    --purple-muted:#c2c2ff;

    --green-light: #80eeca ;
    --orange-light: #ffedb2;
    --aqua-light: #b0e7f1;
    --blue-light: rgb(73, 188, 255);
    --purple-light: #c0b9ff; 
    
    --green-normal: #4ed281 ;
    --aqua-normal: #61d8ed;
    --orange-normal: #deb14f;
    --blue-normal: rgb(0, 109, 233);;
    --purple-normal: #5249A3; 

    --green-strong: #3fe0b8;
    --aqua-strong: #35d0e4;
    --orange-strong: #e9b036;
    --blue-strong: #0009ae;
    --purple-strong: #2e009a;
    
    --green-extreme: #00ffbf;
    --aqua-extreme: #00e1ff;
    --orange-extreme: #ffae00;
    --blue-extreme: #0009ae;
    --purple-extreme: #4c00ff;

    --green-dim: #006330;
    --aqua-dim: #006375;
    --orange-dim: #6c4a00;
    --blue-dim: rgb(0, 55, 117);
    --purple-dim: #322c71;

    --green-dark: #003218;
    --aqua-dark: #003943;
    --orange-dark: #402c00;
    --blue-dark: #0A0C31;
    --purple-dark: #161240;

    --green-deep: #00180c;
    --aqua-deep: #001d22;
    --orange-deep:#291d00;
    --blue-deep: #00022d;
    --purple-deep: #030028;

    --success: green;
    --warning:  rgb(255, 217, 0);
    --danger: red;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Share Tech Mono', monospace;
    min-height: 100vh;
  }

  a, a:link, a:visited, a:hover, a:active {
    color: inherit; /* This will make the link take the color of its parent element */
    text-decoration: none; /* To remove the underline typically associated with links */
}


.pucs-text-primary{color: var(--blue-deep);}
.pucs-text-primary-invert{color: var(--blue-muted);}
.pucs-text-alt{color: var(--orange-deep);}
.pucs-text-alt-invert{color: var(--orange-muted);}
.pucs-text-danger{color: var(--danger);}
.pucs-text-warning{color: var(--warning);}
.pucs-text-success{color: var(--success);}

.pucs-background-primary{background-color: var(--blue-muted);}
.pucs-background-primary-invert{background-color: var(--blue-deep);}
.pucs-background-black{background-color: black;}
.pucs-background-alt{background-color: var(--orange-muted);}
.pucs-background-alt-invert{background-color: var(--orange-deep);}
.pucs-background-warning{background-color: var(--warning);}
.pucs-background-success{background-color: var(--green-strong);}

.pucs-fill-primary{background-color: var(--blue-normal);}
.pucs-fill-primary-invert{background-color: var(--blue-deep);}
.pucs-fill-alt{background-color: var(--orange-muted);}
.pucs-fill-alt-invert{background-color: var(--orange-deep);}
.pucs-fill-warning-invert{background-color: black;}
.pucs-fill-warning{background-color: var(--warning);}

.pucs-trim-primary{border: solid 3px var(--blue)-deep;}
.pucs-trim-primary-invert{border: solid 3px var(--blue-normal);}
.pucs-trim-alt{border: solid 3px var(--orange)-deep;}
.pucs-trim-alt-invert{border: solid 3px var(--orange-muted);}
.pucs-trim-warning-invert{border: solid 3px var(--warning);}
.pucs-trim-warning{border: solid 3px black;}

.my-table{
    background-color: var(--blue-normal);
    border-left: 2px solid var(--blue-deep);
    border-right: 1px solid var(--blue-deep);
    border-top: 2px solid var(--blue-deep);
    border-bottom: 1px solid var(--blue-deep);
}

.pucs-table-top {
}

.pucs-table-base{
    border-left: 2px solid var(--blue-deep);
    border-right: 1px solid var(--blue-deep);
    border-top: 2px solid var(--blue-deep);
    border-bottom: 1px solid var(--blue-deep);
}
.pucs-table-head{
}
.pucs-table-row{border-bottom: 1px solid var(--blue-deep);}
.pucs-table-col{border-right: 1px solid var(--blue-deep);}
.pucs-table-cell{
    padding: 5px 15px;
}

#edurange-appframe {
    background-color: rgb(7, 0, 17);
    color: var(--blue-muted);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.universal-content-outer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    contain: content;
}

.universal-content-mid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.universal-content-inner {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    contain: content;
}

body, html {
    font-family: 'Share Tech Mono', monospace;
}

#edurange-content {
    position: absolute;
    top: 4.8dvh;
    left: 1.6dvh;
    right: 1.6dvh;
    bottom: 3.5dvh;
}