.student-scenario-section {
    flex: 0 0 75%;
    overflow: scroll;
    padding: 0 .5rem;
}

@media (max-width: 800px) {
    .student-scenario-section {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}