

@keyframes promptBlink {
    0%, 90% { opacity: 1; }   
    90%, 100% { opacity: 0; } 
}
.welcome-text{
    color: var(--blue-muted);
    font-size: 68px;
}
.blink-me {
    animation: promptBlink 3s steps(1) infinite;
    animation-iteration-count: 4;
}
/* .edu3-nav-link{
    cursor: pointer;
    margin-right: 1%;
    box-sizing: border-box;
    height: 70%;
    align-items: center;
    display: flex;
    border-radius: 15px;
}
.edu3-nav-link:hover{
    background-color: rgba(240, 248, 255, 0.137);
    color: aqua;
} */