/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext'); */


.hide {
    display: none;
}
.active-page {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#edurange-appframe {
    background-color: rgb(7, 0, 17);
    color: var(--blue-muted);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.universal-content-outer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    contain: content;
}

.universal-content-mid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.universal-content-inner {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    contain: content;
}


.pucs-login-container {
    display: flex;
    min-width: 50dvh;
    min-height: 30dvh;
    align-items: left;
    justify-content:center;
    align-content: left;
    flex-direction: column;
    font-size: large;
}
.pucs-login-text-frame{
margin-bottom: 3dvh;
}

.checkmark-grid select{
    background: #5a64d4;
    height: 40px;
    
}

body, html {
    font-family: 'Share Tech Mono', monospace;
}

.light-text {
    color: white;
}
@keyframes promptBlink {
    0%, 90% { opacity: 1; }   
    90%, 100% { opacity: 0; } 
}
.welcome-text{
    color: var(--blue-muted);
    font-size: 68px;
}
.blink-me {
    animation: promptBlink 3s steps(1) infinite;
    animation-iteration-count: 4;
}

#edurange-content {
    position: absolute;
    top: 6.3dvh;
    left: 3.6dvh;
    right: 3.5dvh;
    bottom: 4.3dvh;
}