
body{
    font-family: 'Share Tech Mono', monospace;
    background-color: rgb(16, 0, 35);
}

.nb {
    background-color: rgb(16, 0, 35);
    /* color:aliceblue; */
    color: var(--muted-aqua);
    font-size: 1.11em;
}
.nb:hover{
    background-color: rgb(16, 0, 35);
    color:rgb(255, 174, 0);
    font-size: 1.11em;
}
.active-page {
    background-color: aliceblue;
    display: block
}

.hide {
    display: none;
}
#browser-frame{
    padding: 0% 5%;
}
#app-container {
    width: 100%;
    min-height: 700px;
    display: block;
    align-self: center;
    gap: 0px;
    border: 2px solid orange;
}
