
table { border-radius: 15%;}
.main-frame{
    /* background-color: rgb(221, 215, 255); */
    padding: 2.5% 5%;
}

.my-table{
    background-color: var(--normal-blue);
    border-left: 2px solid var(--deep-blue);
    border-right: 1px solid var(--deep-blue);
    border-top: 2px solid var(--deep-blue);
    border-bottom: 1px solid var(--deep-blue);
    border-radius: 30px;
}

.notif-table-top {
    background-color: rgb(0, 233, 12);
    color: rgb(38, 0, 255);
}
